{% assign priceDifference = free_shipping | minus: cart.total_price %}
<div class="cart__free-shipping">
    <div class="cart__free-shipping-msg">
        <div class="cart__free-ship-progress">You're only <span class="shipping-value">{% if priceDifference > 0 %}
            {{ priceDifference | money_without_trailing_zeros }}
         {% endif %}</span> away from free standard shipping for the contiguous US!</div>
        <div class="cart__free-ship-success">Congrats, you get free standard shipping for the contiguous US!</div>
    </div>
    <div class="cart__free-shipping-progress">
        <div class="cart__free-shipping-indicator" style="--shipping-progress: {{ free_shipping_progress }}%;"></div>
    </div>
</div>