{% form 'customer_login', novalidate: 'novalidate' %}
    {%- if checkout -%}
        <input type="hidden" name="return_to" value="/checkout">
        <input type="hidden" name="checkout_url" value="/checkout">
    {%- else -%}
        <input type="hidden" name="return_to" value="{{ routes.account_url }}">
    {%- endif -%}

    <section class="field__list">
        <div class="field">
            <label for="CustomerEmail">
                Email
            </label>   
            <input
                type="email"
                class="field__input"
                name="customer[email]"
                id="CustomerEmail"
                required="required"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                    aria-invalid="true"
                {% endif %}>
        </div>

        {%- if form.password_needed -%}
            <div class="field field--password">
                <button type="button" class="show-password" title="Shop password"><span class="show-password__cta">View</span> <span class="visually-hidden">password</span></button>
                <label for="CustomerPassword">
                    Password
                </label>       
                <input
                    class="field__input"
                    type="password"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    autocomplete="current-password"
                    {% if form.errors contains 'form' %}
                        aria-invalid="true"
                    {% endif %}>
                {%- if form.errors contains 'form' -%}
                <div class="field__error-message">{{ form.errors.messages['form'] }}</div>
                {%- endif -%}
            </div>
            <script>
            const showPasses = document.querySelectorAll('.show-password');
            showPasses.forEach(showPass => showPass.addEventListener('click', function() {
                const inpt = this.parentNode.querySelector('input');
                if(inpt.type === 'password') {
                    inpt.type = 'text';
                    this.querySelector('.show-password__cta').innerHTML = 'Hide';
                } else {
                    inpt.type = 'password';
                    this.querySelector('.show-password__cta').innerHTML = 'View';
                }
            }));
            </script>
        {%- endif -%}
    </section>

    {%- if form.password_needed and checkout != true -%}
    <div class="form__links">
        <a class="forgot-pass" href="#recover">
            Forgot your password?
        </a>
    </div>
    {%- endif -%}

    <div class="form__submit">
        <button aria-label="Log into user account" type="submit" class="button">
            <span>Log in</span>
        </button>
    </div>

    {%- if form.password_needed and checkout == true -%}
    <div class="form__links">
        <a href="{{ routes.account_login_url }}#recover">
            Forgot your password?
        </a>
        <div>
            Don’t have an account yet? <a href="{{ routes.account_register_url }}">Create an account.</a>
        </div>
    </div>
    {%- endif -%}
{% endform %}
<script>
    window.onload = () => {
        let emailCookieValue;
        const getCookie = function (name) {
          var value = '; ' + document.cookie;
          var parts = value.split('; ' + name + '=');
          if (parts.length == 2) return parts.pop().split(';').shift();
        };
        emailCookieValue = getCookie('emailRegister');
        if(emailCookieValue) {
            document.querySelector("#CustomerEmail").value = emailCookieValue;
        }
    
    };
</script>