{% form 'customer_login', novalidate: 'novalidate' %}
    {%- if form.errors -%}
        <div class="errors__title">Please correct the following errors:</div>
        {{ form.errors | default_errors }}
    {%- endif -%}

    {%- if checkout -%}
        <input type="hidden" name="return_to" value="/checkout">
        <input type="hidden" name="checkout_url" value="/checkout">
    {%- else -%}
        <input type="hidden" name="return_to" value="/account">
    {%- endif -%}

    <section class="field__list">
        <div class="field">
            <label for="CustomerEmail">
                Email
            </label>   
            <input
                type="email"
                class="field__input"
                name="customer[email]"
                id="CustomerEmail"
                required="required"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                    aria-invalid="true"
                {% endif %}>
        </div>

        {%- if form.password_needed -%}
            <div class="field">
                <label for="CustomerPassword">
                    Password
                </label>       
                <input
                    class="field__input"
                    type="password"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    autocomplete="current-password"
                    {% if form.errors contains 'form' %}
                        aria-invalid="true"
                    {% endif %}>
            </div>
        {%- endif -%}
    </section>

    {%- if form.password_needed -%}
    <div class="form__links">
        <a href="#recover">
            Forgot your password?
        </a>
    </div>
    {%- endif -%}

    <div class="form__submit">
        <button aria-label="Log into user account" type="submit" class="button">
            <span>Log in</span>
        </button>
    </div>
{% endform %}