{% form 'customer_login', novalidate: 'novalidate' %}
    {%- if checkout -%}
        <input type="hidden" name="return_to" value="/checkout">
        <input type="hidden" name="checkout_url" value="/checkout">
    {%- else -%}
        <input type="hidden" name="return_to" value="{{ routes.account_url }}">
    {%- endif -%}

    <section class="field__list">
        <div class="field field--validated field--email">
            <label for="CustomerEmail">
                Email
            </label>   
            <input
                type="email"
                class="field__input"
                name="customer[email]"
                id="CustomerEmail"
                required="required"
                autocomplete="email"
                autocorrect="off"
                autocapitalize="off"
                {% if form.errors contains 'form' %}
                    aria-invalid="true"
                {% endif %}>
            <div class="field__error-message field__error-message--js">Please enter your email</div>
        </div>

        {%- if form.password_needed -%}
            <div class="field field--validated field--password">
                <button type="button" class="show-password" title="Shop password"><span class="show-password__cta">View</span> <span class="visually-hidden">password</span></button>
                <label for="CustomerPassword">
                    Password
                </label>       
                <input
                    class="field__input"
                    type="password"
                    value=""
                    name="customer[password]"
                    id="CustomerPassword"
                    autocomplete="current-password"
                    {% if form.errors contains 'form' %}
                        aria-invalid="true"
                    {% endif %}>
                <div class="field__error-message field__error-message--js">Please enter a secure password</div>
                {%- if form.errors contains 'form' -%}
                <div class="field__error-message">{{ form.errors.messages['form'] }}</div>
                {%- endif -%}
            </div>
        {%- endif -%}
    </section>

    {%- if form.password_needed and checkout != true -%}
    <div class="form__links">
        <a class="forgot-pass" href="#recover">
            Forgot your password?
        </a>
    </div>
    {%- endif -%}

    <div class="form__submit">
        <button aria-label="Log into user account" type="submit" class="button">
            <span>Log in</span>
        </button>
    </div>

    {%- if form.password_needed and checkout == true -%}
    <div class="form__links">
        <a href="{{ routes.account_login_url }}#recover">
            Forgot your password?
        </a>
        <div>
            Don’t have an account yet? <a href="{{ routes.account_register_url }}">Create an account.</a>
        </div>
    </div>
    {%- endif -%}
{% endform %}