{% if flash_sale_active == blank %}
    {%- assign flash_sale_active = false -%}
    {% if settings.flash-sale-active %}
        {%- assign now = "now" | date: "%s" | times: 1 %}
        {%- assign this_year = "now" | date: "%Y" -%}
        {%- assign start = settings.flash-sale-start | date: "%s" | times: 1 -%}
        {%- assign end = settings.flash-sale-end | date: "%s" | times: 1 -%}
        {% if now >= start and now < end %}
            {%- assign flash_sale_active = true -%}
            {%- assign flash_sale_time_left = end | minus: now -%}
            {%- assign hours = flash_sale_time_left | divided_by: 3600 | floor -%}
            {%- assign h_left = settings.flash-sale-countdown | plus: 0 -%}
            {%- if hours < h_left -%}
                {%- capture flash_sale_time_left_text -%}
                    <span>{{ hours | prepend: '00' | slice: -2, 2 }}</span> :
                    <span>{{ flash_sale_time_left | modulo: 3600 | divided_by: 60 | floor | prepend: '00' | slice: -2, 2 }}</span> :
                    <span>{{ flash_sale_time_left | modulo: 3600 | modulo: 60 | prepend: '00' | slice: -2, 2 }}</span>
                {%- endcapture -%}
            {%- else -%}
                {%- assign flash_sale_time_left_text = false -%}
            {%- endif -%}
        {% endif %}
    {% endif %}
{% endif %}