{% unless no_wrapper == true %}
{%- liquid
    if height != blank
        assign ratio = height
    else
        assign ratio = 100 | divided_by: image.aspect_ratio
    endif
    if ratio > max_ratio and max_ratio != blank
        assign ratio = max_ratio
    endif
-%}

<div {% if fancy_box %} data-fancybox="gallery-{{ color }}" data-src="{{ image | image_url }}" {% endif %} class="ratio-container{% if class != blank %} {{ class }}{% endif %}{%if splash %} splash{% endif %}" style="padding-top: {{ ratio }}%">
{% endunless %}

{%- liquid
    unless preload == true and preload != blank
        assign preload = false
    endunless

    if lazy != true
        assign lazy = false
    endif

    if sizes == blank
        assign sizes = '100vw'
    endif

    if lazy == true
        assign loading = 'lazy'
    else
        assign loading = 'eager'
    endif

    if alt == blank
        assign alt = image.alt
    endif

    if class != blank and no_wrapper == true
        assign img_class = class
    else
        assign img_class = ''
    endif

    

    if asset == true
        echo image | asset_img_url: 'master' | img_tag: alt
    elsif image != blank
        if zoom == true
            if ada_alt
                echo image | image_url: width: nil | image_tag: sizes: '100vw', widths: '100, 180, 300, 450, 650, 800, 1000, 1200, 1600, 2000', loading: 'lazy', alt: '', class: 'img-zoom'
            else
                echo image | image_url: width: nil | image_tag: sizes: '100vw', widths: '100, 180, 300, 450, 650, 800, 1000, 1200, 1600, 2000', loading: 'lazy', alt: alt, class: 'img-zoom'
            endif
        endif
            
        if ada_alt
            echo image | image_url: width: nil | image_tag: sizes: '100vw', widths: '100, 180, 300, 450, 650, 800, 1000, 1200, 1600, 2000', loading: 'lazy', alt: '', class: 'img-zoom'
        else
            echo image | image_url: width: nil | image_tag: sizes: sizes, widths: '100, 180, 300, 450, 650, 800, 1000, 1200, 1600, 2000', preload: preload, alt: alt, loading: loading, class: img_class
        endif
    endif
%}

{% unless no_wrapper == true %}
</div>
{% endunless %}