{%- assign block = mobile-menu-edit -%}

<div class="slide-menu__edit">
    {%- if block.settings.link != blank -%}
        <a href="{% if block.settings.link %}{{- block.settings.link -}}{% else %}#{% endif %}">
    {%- endif -%}
    
    <div class="slide-menu__edit-image">
        {% assign alt = block.settings.edit-title | escape %}
        {% render 'image' with block.settings.image, lazy: true, sizes: '100vw', alt: alt %}
    </div>
    
    <h3 class="slide-menu__edit-title">{{- block.settings.edit-title | escape -}}</h3>

    {%- if block.settings.link != blank -%}
        </a>
    {%- endif -%}
    
    <div class="slide-menu__edit-description">
        {{- block.settings.description -}}
    </div>
</div>