<div class="pdp__description-review-container" id="pdp__description-review-container">
    {% for review in description_reviews_split %}
        <div class="pdp__description-review">
            {{ review }}
        </div>
    {% endfor %}
</div>