<section class="pdp__waitlist">
    <div class="pdp__waitlist-line">
        <div id="waitlist-success--{{ product.id }}" class="pdp__waitlist-success-msg">You've been added</div>
        <input type="email" class="field__input mailing-list-email" placeholder="Email" aria-required="true" autocorrect="off" autocapitalize="none" autocomplete="email">
        <button aria-label="Join the waitlist" type="button" class="button pdp__waitlist-submit">
            <span>Join the Waitlist</span>
        </button>
        <div class="field__error-message" id="waitlist-error--{{ product.id }}">Please enter a valid email address.</div>
    </div>
    <div>
        <label class="checkbox-label"><input class="mailing-list-checkbox" type="checkbox" checked="checked" autocomplete="off"> Add me to the mailing list!</label>
    </div>
    <a href="#" class="klaviyo-bis-trigger">JOIN WAITLIST</a>
</section>