<section
    class="pdp__submit-container">
    <section class="pdp__submit">
        {% render 'pdp-submit-row', current_variant: current_variant, wishlist: wishlist %}

        {% comment %} <div class="pdp__extend">
            <label><input type="checkbox"> Add product protection offered by Extend</label>
        </div> {% endcomment %}

        {%- if quick_view == true -%}
            <div class="qv__full-details-dsk hide-small"><a class="qv__full-details-link product-link" href="{{- product.url -}}">View Full Details</a></div>
        {%- endif -%}
        
        {% render 'pdp-submit-bottom', current_variant: current_variant %}
    </section>

    {% render 'pdp-waitlist' %}

</section>