<div class="pdp__submit-bottom">
    <div class="pdp__payments{% if current_variant.price <= 5000 %} pdp__payments--limit{% endif %}">
        <span>
            4 easy payments
            <span class="sp__msg-limit">on orders over $50 with</span>
            <span class="sp__msg-amnt">of <span class="pdp__payments-amnt">{{ current_variant.price | divided_by: 4 | money_without_trailing_zeros }}</span></span>
        </span>
        {% render 'icon-shop-pay' %}
    </div>
</div>