<div class="search-placeholders{% if class != blank %} {{ class }}{% endif %}" data-num="2">
    <div class="search-placeholders__inner">
        <div class="search-placeholder"><em>Where are you going?</em></div>
        <div class="search-placeholder"><em>For Road Trips...</em></div>
        <div class="search-placeholder"><em>Where are you going?</em></div>
    </div>
</div>