<link rel="stylesheet" href="{{ 'component-shipping-calculator.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-shipping-calculator.css' | asset_url | stylesheet_tag }}</noscript>

<script src="{{ 'shipping-calculator.js' | asset_url }}" defer="defer"></script>

<div class="shipping-calculator">
    <label for="shipping-calulator-zip">When will my shipment arrive?</label>
    <div class="shipping-calculator__form">
        <input id="shipping-calulator-zip" type="text" maxlength="6" required="required" name="zip" placeholder="Enter zip code">
        <button type="button" class="button button--secondary shipping-calculator__btn"><span>Calculate</span></button>
    </div>
    <div id="shipping-rates-feedback"></div>
</div>