<div class="shop-calpak-checkout">
  <div class="swell-post-checkout">
    <div class="swell-referral-main">
      <div class="checkout-heading">
        <span class="swell-referral-back-link close-thank-you"></span>
        <h2 class="swell-checkout-thanks">Thank you!</h2>
      </div>
      <div class="swell-referral-main-content">
        <div class="swell-referral">
          
        </div>
      </div>
    </div>
  </div>
</div>