<div class="swell__title">
    <span class="swell-point-balance"></span> Rewards Points
</div>
<div class="swell__buttons">
    <a class="redemption-link button to-checkout-btn button--dark" href="{% if customer != blank %}/checkout{% else %}{{ routes.account_login_url }}/checkout{% endif %}">
        <span>Redeem now</span>
    </a>
    <a class="history-link swell-history-link button button--secondary" href="javascript:void(0);">
        <span>Rewards history</span>
    </a>
</div>

{% comment %} Referal form {% endcomment %}
<div class="swell-referral-main-content">
    <div class="swell-referral-content">
        <h2>{{ referralHeading }}</h2>
        {{ referralDetails }}
    </div>
    <div class="swell-referral"></div>
</div>

{% comment %} Referals table {% endcomment %}
<h2 class="your-ref-h2">Your Referrals</h2>
<table class="swell-referral-table">
    <thead>
        <tr>
            <th>Email</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody class="table-data">
        
    </tbody>
</table>

<div class="swell__info">
    <h3>How do I redeem my rewards balance?</h3>
    <p>Now, the fun part! Simply redeem any rewards credit you've earned <a href="{% if customer != blank %}/checkout{% else %}{{ routes.account_login_url }}/checkout{% endif %}" class="to-checkout-btn">directly at checkout</a>.</p>
</div>