{{ 'section-collection-categories.css' | asset_url | stylesheet_tag }}

<div class="collection-categories__wrapper slider__wrapper">
    <button class="slider__control button-tri-left slider__control--prev" title="Previous"></button>
    <button class="slider__control button-tri-right slider__control--next" title="Next"></button>
    <section class="filter__collections slider slider--scrollbar">
        {%- for block in section.blocks -%}
        <div class="filter__collection slide">
            <div class="filter__collection-image">
                {%- if block.settings.image != blank -%}
                    {%- render 'image' with block.settings.image, sizes: '25vw', no_wrapper: true -%}
                {%- endif -%}
            </div>
            <div class="filter__collection-title">{{- block.settings.title | escape -}}</div>
            {%- if block.settings.description != blank -%}
            <div class="filter__collection-desc">{{- block.settings.description -}}</div>
            {%- endif -%}
        </div>
        {%- endfor -%}
    </section>
</div>

{% schema %}
    {
        "name": "Collection Categories",
        "class": "shopify-section--col-categories",
        "settings": [
        
        ],
        "blocks": [
            {
                "name": "Filter",
                "type": "filter",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "textarea",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Collection Categories"
            }
        ]
    }
{% endschema %}