{{ 'section-curalate.css' | asset_url | stylesheet_tag }}

<header class="curalate-gallery__header">
    <aside>
        {% if section.settings.title %}<h2 class="curalate-gallery__title">{{section.settings.title}}</h2>{% endif %}
        {% if section.settings.subtitle %}<div class="curalate-gallery__subtitle">{{section.settings.subtitle}}</div>{% endif %}
    </aside>
    {% comment %} <aside>
        <a class="curalate-gallery__cta" href="https://www.calpaktravel.com/pages/tag-your-adventures">Shop Gallery</a>
    </aside> {% endcomment %}
</header>
<div class="curalate-gallery_embed" data-crl8-container-id="gallery-zfEKaK3p"></div>

{% schema %}
    {
        "name": "Curalate Gallery",
        "class": "shopify-section--curalate",
        "settings": [
            {
            "type": "text",
            "id": "gallery_id",
            "label": "Curalate gallery ID",
            "default": "gallery-zfEKaK3p",
            "info": "The gallery ID can be found in after the attribute data-crl8-container-id in the div embed code snippet."
            },
            {
                "type": "text",
                "id": "title",
                "label": "Heading",
                "default": "Travel looks good on you."
              },
              {
                "type": "textarea",
                "id": "subtitle",
                "label": "Subheading",
                "default": "Tag your adventures @calpak #calpaktravel."
              }
        ],
        "presets": [
            {
                "name": "Curalate Gallery"
            }
        ]
    }
{% endschema %}