{{ 'section-curalate.css' | asset_url | stylesheet_tag }}

<header class="curalate-gallery__header">
    <aside>
        <h2 class="curalate-gallery__title">Travel looks good on you.</h2>
        <div class="curalate-gallery__subtitle">Tag your adventures <a href="https://www.instagram.com/calpak" target="blank">@calpak</a> <a href="https://www.instagram.com/explore/tags/calpaktravel/" target="_blank">#calpaktravel</a>.</div>
    </aside>
    {% comment %} <aside>
        <a class="curalate-gallery__cta" href="https://www.calpaktravel.com/pages/tag-your-adventures">Shop Gallery</a>
    </aside> {% endcomment %}
</header>
<div class="curalate-gallery_embed" data-crl8-container-id="gallery-zfEKaK3p"></div>

{% schema %}
    {
        "name": "Curalate Gallery",
        "class": "shopify-section--curalate",
        "settings": [
            {
            "type": "text",
            "id": "gallery_id",
            "label": "Curalate gallery ID",
            "default": "gallery-zfEKaK3p",
            "info": "The gallery ID can be found in after the attribute data-crl8-container-id in the div embed code snippet."
            }
        ],
        "presets": [
            {
                "name": "Curalate Gallery"
            }
        ]
    }
{% endschema %}