{{ 'component-customer-nav.css' | asset_url | stylesheet_tag: preload: true }}
{{ 'component-customer-rewards.css' | asset_url | stylesheet_tag: preload: true }}

<script src="https://code.jquery.com/jquery-2.2.4.min.js" defer="defer"></script>
<script src="{{ 'swell-rewards.js' | asset_url }}" defer="defer"></script>

<section class="customer__main">
    {% render 'account-nav', current: 'rewards' %}
        
    <div class="account-rewards">
        <h1 class="account-info__title">Your Rewards Balance</h1>

        {% include 'swell-my-rewards' %}

        <script>    
            const referralDetails = "{{ section.settings.swell-referral-details | replace: '<p>', '' | replace: '</p>', '<br>' }}";
        </script>
    </div>
</section>

{% schema %}
    {
        "name": "Account Rewards",
        "settings": [
            {
                "type": "richtext",
                "id": "swell-referral-details",
                "label": "Referral details",
                "default": "<p>Send a friend $25 off their first qualifying CALPAK order ($150+), and you'll get $25 off your next order!</p><p>Make. It. Rain.</p>"
            }
        ]
    }
{% endschema %}