{{ 'component-customer-nav.css' | asset_url | stylesheet_tag }}

<section class="customer__main">
    {% render 'account-nav', current: 'info' %}
        
    <div class="account-info">
        <div class="account-info__title">Review your information</div>
        <div class="account-name">{{ customer.name }}</div>

        <div class="account-user-info">
            {{ customer.email }}<br>
            {{ customer.phone }}
        </div>

        <div class="account-control-buttons">
            <a href="/account/login#recover" class="button button--secondary"><span>Reset Password</span></a>
            {% comment %} <a href="/account?view=wishlist" class="button medium-up-hide">Wishlist</a> {% endcomment %}
        </div>
    </div>
</section>