{{ 'section-live-shopping-header.css' | asset_url | stylesheet_tag: preload: true }}

<script>
(function(d, t, i, w) {
    window.__bfwId = w;
    window.__bfwOffsX = [25, 25];
    window.__bfwOffsY = [100, 100];
    if (d.getElementById(i) && window.__bfwInit) return window.__bfwInit();
    if (d.getElementById(i)) return;
    var s, ss = d.getElementsByTagName(t)[0];
    s = d.createElement(t); s.id = i;
    s.src = 'https://lcx-widgets.bambuser.com/embed.js';
    ss.parentNode.insertBefore(s, ss);
  })(document, 'script', 'bambuser-liveshopping-widget', '0wh0SSpg6kCTMGj5gQGF');
</script>

<script>
  (function(d, t, i) {
    if (d.getElementById(i)) return;
    var s, ss = d.getElementsByTagName(t)[0];
    s = d.createElement(t); s.id = i;
    s.src = 'https://lcx-widgets.bambuser.com/embed.js';
    ss.parentNode.insertBefore(s, ss);
  })(document, 'script', "bambuser-liveshopping-widget");
</script>

{%- if section.settings.buttons -%}
    <script src="{{ 'live-shopping.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

<div class="live-shopping__title">{{ section.settings.title | escape }}</div>

{% if section.settings.description != blank %}
    <div class="live-shopping__description">{{ section.settings.description }}</div>
{% endif %}

{% if section.settings.buttons %}
    <div class="live-shopping__buttons">
        <a href="#" data-index="0" class="button"><span>Upcoming Shows</span></a>
        <a href="#" data-index="1" class="button"><span>1-to-1 Live Shopping</span></a>
    </div>
{% endif %}

<style>
    [data-bambuser-liveshopping-widget] {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
</style>

{% schema %}
    {
        "name": "Live Shopping Header",
        "class": "shopify-section--live-shopping-head",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Live Shopping"
            },
            {
                "type": "richtext",
                "id": "description",
                "label": "Description"
            },
            {
                "type": "checkbox",
                "id": "buttons",
                "label": "Show buttons",
                "default": false
            }
        ]
    }
{% endschema %}