{{ 'section-nav-hero.css' | asset_url | stylesheet_tag: preload: true }}

<script src="{{ 'nav-hero.js' | asset_url }}" defer="defer"></script>

<div class="nav-hero__media">
    {%- liquid
        if section.settings.video != blank
            assign ratio = section.settings.video-ratio-w | append: '/' | append: section.settings.video-ratio-h

            if section.settings.video-ratio-w != blank and section.settings.video-ratio-h != blank
                assign height = section.settings.video-ratio-h | times: 100 | divided_by: section.settings.video-ratio-w
            else
                assign height = false
            endif

            if section.settings.image_mobile != blank
                render 'image' with section.settings.image_mobile, preload: true, class: 'hide-large'
                render 'video' with section.settings.video, height: height, poster: section.settings.image, video_ratio: ratio, autoplay: section.settings.autoplay, loop: section.settings.loop, controls: section.settings.controls, class: 'hide-small'
            else
                render 'video' with section.settings.video, height: height, poster: section.settings.image, video_ratio: ratio, autoplay: section.settings.autoplay, loop: section.settings.loop, controls: section.settings.controls
            endif
        else
            if section.settings.image_mobile != blank and section.settings.image != blank
                render 'image' with section.settings.image, preload: true, class: 'hide-small'
                render 'image' with section.settings.image_mobile, preload: true, class: 'hide-large'
            elsif section.settings.image != blank
                render 'image' with section.settings.image, preload: true
            elsif section.settings.image_mobile != blank
                render 'image' with section.settings.image_mobile, preload: true
            endif
        endif
        
    -%}
</div>

<nav class="nav-hero__nav">
    {%- for block in section.blocks -%}
    <a class="nav-hero__item" data-target="{{ block.settings.section-scroll }}">
        <div class="nav-hero__item-image">
            {% render 'image' with block.settings.image, no_wrapper: true, sizes: '130px' %}
        </div>
        <div class="nav-hero__item-title">{{- block.settings.title | escape -}}</div>
    </a>
    {%- endfor -%}
</nav>

{% schema %}
    {
        "name": "Nav Hero",
        "class": "shopify-section--nav-hero",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "video_url",
                "id": "video",
                "label": "Video",
                "accept": ["vimeo"]
            },
            {
                "type": "checkbox",
                "id": "autoplay",
                "label": "Autoplay",
                "default": true
            },
            {
                "type": "checkbox",
                "id": "controls",
                "label": "Controls",
                "default": false
            },
            {
                "type": "checkbox",
                "id": "loop",
                "label": "Loop",
                "default": true
            },
            {
                "type": "text",
                "id": "video-ratio-w",
                "label": "Video aspect ratio width",
                "default": "16",
                "info": "16/9 - standard widescreen, 9/16 - portrait, 1/1 square, etc."
            },
            {
                "type": "text",
                "id": "video-ratio-h",
                "label": "Video aspect ratio height",
                "default": "9"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Image (Mobile)"
            }
        ],
        "blocks": [
            {
                "type": "nav-item",
                "name": "Nav item",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "range",
                        "id": "section-scroll",
                        "min": 1,
                        "max": 20,
                        "step": 1,
                        "label": "Scroll to section #",
                        "default": 1
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Nav Hero"
            }
        ]
    }
{% endschema %}