<div class="notifications-popup">
    <div class="notifications-content">
        {%- assign count = 0 -%}
        <ul class="list-unstyled notifications-list">
        {%- for block in section.blocks -%}
            {%- if customer and block.settings.only-for-guests -%}{%- continue -%}{%- endif -%}
            <div class="notification">
                {{ block.settings.text }}
            </div>
            {%- assign count = count | plus: 1 -%}
        {%- endfor -%}
        </ul>
        <div class="notifications-header">
            <span class="notifications-icon--active" title="Notifications">
                {% render 'icon-notifications' %}
            </span>
            <span>
                Notifications ({{ count }})
            </span>
            <a href="#" class="menu-close" title="Close"></a>
        </div>
    </div>
</div>

<link rel="stylesheet" href="{{ 'component-notifications-popup.css' | asset_url }}" media="print" onload="this.media='all'">

<noscript>{{ 'component-notifications-popup.css' | asset_url | stylesheet_tag }}</noscript>

{% schema %}
    {
        "name": "Notifications",
        "settings": [
        
        ],
        "blocks": [
            {
                "type": "notification",
                "name": "Notification",
                "settings": [
                    {
                        "type": "richtext",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "checkbox",
                        "id": "only-for-guests",
                        "label": "Display for non-registered only",
                        "default": false
                    }
                ]
            }
        ]
    }
{% endschema %}