{%- liquid
    if section.settings.image_mobile != blank
        render 'image' with section.settings.image_mobile, class: "background-image hide-large", no_wrapper: true, preload: true
        render 'image' with section.settings.image, class: "background-image hide-small", no_wrapper: true, preload: true
    elsif section.settings.image != blank
        render 'image' with section.settings.image, class: "background-image", no_wrapper: true, preload: true
    endif
-%}

<div class="password__content">
    <div class="password__form">
        {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div class="password">
                <label for="password">Password</label>
                <input type="password" name="password">
            </div>
            <div class="submit">
                <button type="submit" class="button"><span>Sign in</span></button>
            </div>
        {% endform %}
        <button class="button button--act"><span>Enter Password</span></button>
        <div class="password__form-disclaimer">For CALPAK team only</div>
    </div>
    <div class="password__logo">
        <img width="115" height="auto" src="{{ 'logo-w.png' | asset_url }}" alt="CALPAK logo">
    </div>
    <div class="password__text">
        {%- if section.settings.title != blank -%}
        <h1>{{- section.settings.title | escape -}}</h1>
        {%- endif -%}

        {%- if section.settings.description != blank -%}
        <div>{{- section.settings.description | escape | newline_to_br -}}</div>
        {%- endif -%}
    </div>
</div>

<script>
    const buttonAct = document.querySelector('.button--act');
    if(buttonAct) buttonAct.addEventListener('click', e => {
        const form = e.target.closest('.password__form');
        if(form) form.classList.add('password__form--active');
    });
</script>

{% schema %}
    {
        "name": "Password",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Background image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Background image for mobile"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description"
            }
        ]
    }
{% endschema %}