<div class="separator"></div>

{% schema %}
    {
        "name": "Separator",
        "class": "shopify-section--separator",
        "settings": [
        
        ],
        "presets": [
            {
                "name": "Separator"
            }
        ]
    }
{% endschema %}