:root {
    --yellow: #f7f177;
    --orange: #ff6b0e;
    --gray: #707070;
    --gap: 18px;
    --section-gap: 54px;
}

.d-none {
    display: none!important;
}

.visibility-hidden {
    visibility: hidden!important;
}

body {
    margin: 0;
}

iframe {
    border: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

legend {
    padding: 0;
}

h1 {
    font-weight: var(--font-body-weight);
    font-size: 58px;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0;
}

h2 {
    font-weight: var(--font-body-weight);
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0;
}

h3 {
    font-weight: var(--font-body-weight);
    font-size: 24px;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0;
}

.visually-hidden {
    border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

a {
    text-decoration: underline;
    color: inherit;
}

strong,
b {
    font-weight: var(--font-body-weight-black);
}

dl {
    margin: 0;
}

button {
    font-family: var(--font-body-family);
    font-size: 1em;
    background: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
    color: inherit;
}

form label {
    cursor: pointer;
}

.field .checkbox-label,
.checkbox-label {
    display: inline-flex;
    gap: 10px;
    align-items: center;
}

#MainContent {
    flex: 1;
}

[type="checkbox"] {
    border: 1px solid #000;
    border-radius: 4px;
    width: 20px;
    height: 20px;
    padding: 0;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background: #fff;
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    position: relative;
}

[type="checkbox"]::after {
    position: absolute;
    content: '';
    width: 11px;
    height: 7px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%) rotate(-45deg);
    border-color: transparent transparent #fff #fff;
    border-width: 1px;
    border-style: solid;
    z-index: 2;
}

[type="checkbox"]:checked {
    background: #000;
}

p {
    margin: 0 0 1em;
}

.grecaptcha-badge {
    display: none !important;
}

p:last-child {
    margin: 0;
}

body > div:empty {
    display: none;
}

.shopify-policy__title {
    margin: 50px 0;
}

.shopify-policy__container {
    max-width: 1000px;
    padding: 0 var(--gap);
}

.loading-animation {
    min-height: 46px;
}

.loading-animation::after {
    content: '';
    width: 46px;
    height: 46px;
    border: 3px dashed var(--yellow);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0 0 -23px;
    animation: rotate 1.6s infinite linear;
    z-index: 2;
    pointer-events: none;
}

.loading-animation--alt::after {
    border-color: var(--gray);
}

#preview-bar-iframe {
    z-index: 150 !important;
}

.accordion__content,
div.swym-inject,
.show-password {
    display: none;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


/* MOBILE */
@media (max-width: 650px) {
    .tablet-only {
        display: none !important;
    }

    :root {
        --section-gap: 30px;
    }
}

/* LARGER THAN MOBILE */
@media (min-width: 651px) {
    .mobile-only {
        display: none !important;
    }
}

/* MOBILE AND TABLET */
@media (max-width: 900px) {
    .desktop-only {
        display: none !important;
    }

    .hide-small {
        display: none !important;
    }

    :root {
        --gap: 10px;
    }
}

/* DESKTOP */
@media (min-width: 901px) {
    .hide-large {
        display: none !important;
    }

    .tablet-only {
        display: none !important;
    }
}

.hide {
    display: none !important;
}
.quick-view__link.hide{
    display: inline-block !important;
}
.ratio-container {
    position: relative;
    padding-top: 50%;
}
.product-unit__image > img:last-child{
    opacity: 0;
}
.ratio-container > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
}

.list-unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list-row {
    display: flex;
    gap: var(--gap);
}

.content-placeholder {
    background: #e4dfd5;
    border-radius: 9px;
    margin: var(--gap);
    height: 400px;
}

.content-placeholder:nth-child(odd) {
    background: #c5c5c5;
}

.tri-left,
.tri-right {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 12px;
    display: block;
    border-color: transparent #000 transparent transparent;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.tri-right {
    border-color: transparent transparent transparent #000;
}

.button-tri-left,
.button-tri-right {
    width: 42px;
    height: 42px;
    border: 1px solid #000;
    border-radius: 9px;
    background: transparent;
    cursor: pointer;
    position: relative;
    background: #fff;
    display: none;
}

.button-tri-left::before,
.button-tri-right::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    margin: -6px 0 0 -19px;
    height: 0;
    border-style: solid;
    border-width: 6px 12px;
    border-color: transparent #000 transparent transparent;
}

.button-tri-right::before {
    border-color: transparent transparent transparent #000;
    margin: -6px 0 0 -3px;
}

.btn,
.button {
    --button-bg: #000;
    --button-brd: #000;
    --button-clr: #fff;
    height: 42px;
    line-height: 1em;
    white-space: nowrap;
    border: 1px solid var(--button-brd);
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--button-clr);
    background: var(--button-bg);
    border-radius: 9px;
    font-size: 16px;
    font-weight: var(--font-body-weight-bold);
    padding: 0 17px;
    text-align: center;
    cursor: pointer;
    transition: color 0.3s, border 0.3s, background 0.3s, transform 0.3s;
}

.button--secondary {
    --button-bg: #fff;
    --button-clr: #000;
}

.button--outline {
    --button-bg: transparent;
    --button-clr: #000;
}

.button--white {
    --button-clr: #fff;
}

.button--tertiary {
    --button-bg: transparent;
    --button-brd: #000;
    --button-clr: #000;
}

.button svg {
  margin-right: 4px;
}

.button > span,
.button > div {
    transition: transform 0.3s;
    transform: translateY(-0.125em);
}

.button > span {
    display: block;
}

.button:hover > div,
.button:hover > span {
    transform: translateY(-5px);
}

.adding-to-cart .button--add-to-cart {
    opacity: 0.5;
    pointer-events: none;
}

.transparent-button {
    font-size: 36px;
    letter-spacing: -0.02em;
    border: 1px solid transparent;
    border-radius: 9px;
    padding: 0 8px;
    height: 42px;
    background: transparent;
    cursor: pointer;
    text-decoration: none;
    line-height: 1em;
}

.tabs__button--active.transparent-button,
.transparent-button--active,
.transparent-button:hover {
    border-color: #000;
}

.tabs__button--active.transparent-button,
.transparent-button--active {
    background: var(--yellow);
}

.subnav__container {
    position: relative;
}

.subnav__activator {
    padding-right: 13px;
    position: relative;
}

.subnav__activator::after {
    border-style: solid;
    border-width: 6px 3px;
    border-color: #000 transparent transparent;
    display: block;
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-2px);
}

.close-button {
    width: 48px;
    height: 48px;
    background: transparent;
    border: 0;
    position: relative;
    cursor: pointer;
    padding: 0;
}

.close-button::before,
.close-button::after {
    content: '';
    width: 20px;
    border-top: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.close-button--white::before,
.close-button--white::after {
    border-color: #fff;
}

.close-button::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.tooltip {
    display: none;
}

.cart__container {
    display: none;
}

.round-icon {
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
    background: #f7f7f7;
}

.round-icon::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
    border-radius: 50%;
}

.round-icon::after {
    content: '';
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    background: url(icon-arrow.svg) no-repeat center / 12px auto;
}

.round-icon--prev::after {
    transform: rotate(180deg);
}

.page__header {
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    text-align: center;
    padding: 0 var(--gap);
}
.page__header.only-desktop {
        display: flex;
    }
    .page__header.only-mobile {
            display: none;
    }
@media screen and (max-width: 900px) {
    .page__header.only-desktop {
        display: none;
    }
    .page__header.only-mobile {
            display: flex;
    }
}
.page__header.hidden{
    display: none;
}
.page__header-button {
    margin-top: var(--gap);
    display: flex;
    justify-content: center;
}

.page__header--no-margin {
    margin: 0;
}

.page__title {
    line-height: 1.2em;
    letter-spacing: -0.02em;
    font-size: 36px;
}

.page__title--medium {
    font-size: 48px;
}

.page__title--large {
    font-size: 58px;
}

.page__description {
    max-width: 940px;
    margin: 0 auto;
    line-height: 1.5em;
}

.page__description strong {
    font-weight: var(--font-body-weight-black);
}

.page__description:empty {
    display: none;
}

.separator {
    margin: var(--gap);
    border-top: 1px dashed #aeaeae;
}

.scroll-anchor {
    position: absolute;
    top: calc(-1 * (42px + var(--gap)));
    left: 0;
}

.shopify-section--mobile-menu {
    display: none;
}

.cookies-popup {
    display: none;
}

#klaviyo-bis-iframe {
    display: none !important;
}

.star-reviews {
    display: flex;
}

.shopify-section {
    position: relative;
}

.content-for-layout .shopify-section:last-child {
    margin-bottom: 0;
}

.slider {
    display: flex;
}

.page-anchor {
    position: absolute;
    top: -42px;
    left: 0;
}

.g-recaptcha {
    margin-bottom: var(--gap);
}

.shopify-challenge__container {
    padding: 100px var(--gap);
}

.shopify-challenge__button {
    -webkit-appearance: none;
    appearance: none;
    font-family: var(--font-body-family);
}

.sticky-promo {
    display: none;
}

#swym-plugin {
    display: none !important;
}

body.swym-modal-active:not(.modal-open) {
    overflow-y: auto;
}

.shopify-section--page-content {
    margin: var(--section-gap) auto;
    padding: 0 var(--gap);
    max-width: 1000px;
    line-height: 1.75em;
}

.pagination {
    display: flex;
    gap: 5px;
    margin-top: 30px;
    justify-content: flex-end;
}

.pagination a {
    text-decoration: none;
    display: inline-block;
    width: 25px;
    text-align: center;
}

.pagination .active {
    background: var(--yellow);
    border-radius: 6px;
}

.pagination .disabled {
    opacity: 0.5;
    pointer-events: none;
}

#chat-button {
    z-index: 10;
}

#attentive_overlay {
    transition: opacity 0.5s;
}

.modal-open #attentive_overlay {
    opacity: 0;
    pointer-events: none;
}

.login-popup__container {
    display: none;
}

.yotpo-loyalty-popup-overlay {
    background: rgba(0, 0, 0, 0.3) !important;
}

@media (max-width: 900px) {
    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 24px;
    }

    .page__header:not(.page__header--no-margin) {
        margin: 50px 0;
    }

    .page__title--medium,
    .page__title {
        font-size: 24px;
    }

    .page__title--large {
        font-size: 32px;
    }

    .transparent-button {
        font-size: 24px;
        line-height: 36px;
    }

    h3 {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    /* CSS styles for screens less than 400px wide */
    .collection-filter__activators button.filter__activator {
        font-size: 0.8rem;
    }
    .collection-view {
        font-size: 0.8rem;
    }
}
@media (max-width: 325px) {
    /* CSS styles for screens less than 325px wide */
    .collection-filter__activators button.filter__activator {
        font-size: 0.55rem;
    }
    .collection-view {
        font-size: 0.55rem;
    }

}
.display-none {
    display: none!important;
}
.only-mobile{
        display: block!important;
    }
.only-desktop{
    display: none!important;
}
@media (min-width: 649px) {
    .only-mobile{
        display: none!important;
    }
    .only-desktop{
        display: block!important;
    }
}
/*hide bazar voice*/
#crl8-gallery-zfEKaK3p-carousel a[aria-label="Powered by Bazaarvoice - Opens in new tab"],
#crl8-gallery-zfEKaK3p-carousel a[aria-label="Powered by Bazaarvoice - Opens in new tab"] {
    display: none;
}


