.site-header__subnav {
    position: absolute;
    top: 100%;
    background: #fff;
    border: 1px dashed #AEAEAE;
    padding: 10px 15px;
    left: -15px;
    min-width: 140px;
    border-radius: 9px;
    line-height: 1.8em;
}

.site-header__dropdown--active .site-header__subnav {
    display: block;
}

.site-header__dropdown--active .subnav__activator::after {
    transform: translateY(-9px) rotate(180deg);
}

.site-header__subnav a {
    display: inline-block;
    transition: transform 0.3s;
}

.site-header__subnav a:hover {
    transform: translateY(-3px);
}