.sticky-promo {
    display: block;
    position: fixed;
    bottom: 100px;
    right: var(--gap);
    border-radius: 9px;
    overflow: hidden;
    width: 220px;
    z-index: 10;
    box-shadow: 0 0 0 1px #000;
    margin: 0 1px 1px 0;
}

.sticky-promo--only-hero {
    right: calc( 2 * var(--gap) );
    position: absolute;
}

.sticky-promo__close {
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 10;
    width: 20px;
    height: 20px;
    
    border-radius: 100%;
}

.sticky-promo .close-button:before, 
.sticky-promo .close-button:after  {
    width: 15px;
}

.sticky-promo .close-button--black {
    background-color: white;
}

.sticky-promo .close-button--white {
    background-color: black;
}

.sticky-promo__info {
    height: 42px;
    background: var(--orange);
    color: #000;
    line-height: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-promo__info a {
    text-decoration: none;
}

@media (max-width: 900px) {
    .sticky-promo  {
        bottom: 85px;
    }    
}