.menu-popup--search {
    z-index: 54;
    height: 100%;
}

.search-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.search-popup__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 9px 9px;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.search__top {
    border-bottom: 1px dashed #AEAEAE;
    height: 42px;
    padding: 0 var(--gap);
    position: relative;
    flex: 0 0 100%;
}

.search__top form {
    width: 100%;
    height: 100%;
    display: flex;
}

.search-button {
    flex: 0 0 30px;
    overflow: hidden;
    border: 0;
    background: transparent;
    padding: 0;
    margin-left: -7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input__container {
    position: relative;
    flex: 1;
}

.search-input__container .search-placeholders {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    border: 0;
    outline: none;
    font-size: 16px;
    font-family: var(--font-body-family);
}

.search-input:focus + .search-placeholders,
.search-input:valid + .search-placeholders {
    opacity: 0;
}

.menu-popup--search .menu-popup__content {
    margin: 0;
    border: 0;
    flex-wrap: wrap;
}

.menu-popup--search .menu-popup__main {
    padding-bottom: 30px;
    max-height: 100%;
}

.search__collections-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.menu-popup--search:not([data-status="results"]) .search-section[data-id="results"],
.menu-popup--search:not([data-status="init"]) .search-section[data-id="init"],
.menu-popup--search:not([data-status="empty"]) .search-section[data-id="empty"] {
    display: none;
}

.search-section .menu-side {
    padding: 0;
    max-height: 100%;
    flex: 1;
}

.search-section .menu-side .content-section {
    padding: var(--gap);
}

.search__empty-message {
    padding: var(--gap);
    border-bottom: 1px dashed #AEAEAE;
    flex: 0 0 100%;
}

.menu-popup--search.menu-popup--visible {
    display: block;
}

.search-result__product:empty {
    padding-top: 133.33%;
    background: #f7f7f7;
    margin-bottom: 52px;
    border-radius: 9px;
}

.search-col-num:empty,
.search-num:empty {
    display: none;
}

.search-col-num::before,
.search-num::before {
    content: '('
}

.search-col-num::after,
.search-num::after {
    content: ')';
}

.search-section .products__grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.menu-popup__content.search-section {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 142px);
}

.content-section--stories {
    border-top: 1px dashed #AEAEAE;
    display: none;
}

.search__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.search__card {
    text-decoration: inherit;
    display: block;
}

.search__card-image {
    padding-top: 66.6667%;
    background: #f7f7f7;
    border-radius: 9px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    color: transparent;
}

.search__card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-popup__mobile-nav {
    display: none;
}

.menu-popup--no-side[data-status="results"] .menu-side {
    display: none;
}

.content-section__title {
    margin-bottom: var(--gap);
    font-size: 18px;
}

.products__grid--flex {
    display: flex;
    overflow: hidden;
}

.products__grid--flex .product-unit {
    flex: 0 0 calc(20% - var(--gap) * 4 / 5);
    min-width: 0;
}

@media (max-width: 1727px) {
    .products__grid--flex .product-unit {
        flex: 0 0 calc(25% - var(--gap) * 3 / 4);
    }
}

@media (max-width: 1180px) {
    .products__grid--flex .product-unit {
        flex: 0 0 calc(33.333% - var(--gap) * 2 / 3);
    }
}

@media (max-width: 900px) { 
    .menu-popup--no-side .menu-popup__mobile-nav li:not(:first-child) {
        display: none;
    }

    .content-section__title {
        font-size: 16px;
    }

    .search__empty-message {
        flex: 0 0 auto;
    }

    [data-status="results"] .menu-popup__mobile-nav {
        display: block;
    }

    .menu-popup__mobile-nav {
        padding: 15px var(--gap) 0;
        margin-bottom: var(--gap);
    }

    .menu-popup__mobile-nav ul {
        display: flex;
        padding: 0;
        margin: 0;
        list-style-type: none;
        gap: var(--gap);
    }

    .menu-popup__mobile-nav button {
        line-height: 1.25em;
    }

    .search__top {
        flex: 0 0 auto;
        width: 100%;
    }

    .search-popup__content {
        border-radius: 0;
        flex-wrap: nowrap;
        flex-direction: column;
        height: 100%;
    }

    .menu-popup__content.search-section {
        flex-direction: column;
        flex-wrap: nowrap;
        overflow-y: scroll;
        width: 100%;
        flex: 1;
        max-height: none;
    }

    .menu-popup--search {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 50;
    }

    .search-section .products__grid {
        grid-template-columns: 1fr 1fr;
        gap: 25px 0;
    }

    .search-section .products__grid--flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu-popup--search .menu-popup__main {
        padding: 15px var(--gap);
        min-height: 0;
        flex: 0 0 auto;
        height: auto;
        max-height: fit-content;
        overflow-y: scroll;
    }

    .menu-side {
        border-top: 1px dashed #AEAEAE;
        border-left: 0;
    }

    .search-section .menu-side .content-section {
        padding: 15px var(--gap);
    }

    .search-section .menu-side {
        flex: 0 0 auto;
    }

    .menu-popup__content.search-section[data-id="results"] {
        flex-direction: row;
        min-height: 0;
    }

    .search-section[data-id="results"] {
        overflow: visible;
        transition: transform 0.3s;
    }

    .search-section[data-id="results"] .menu-popup__main {
        flex: 0 0 100%;
        padding: 0 var(--gap);
    }

    .search-section[data-id="results"] .menu-side {
        flex: 0 0 100%;
        border: 0;
    }

    .search-section[data-id="results"] .content-section--collections {
        padding-top: 0;
        max-height: 100%;
        overflow-y: auto;
    }

    .search-section[data-id="results"] .menu-popup__main .content-section {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .search-section[data-id="results"] .products__grid {
        overflow-y: scroll;
        flex: 1;
        padding-bottom: 30px;
    }

    .search-section[data-id="results"] .search-section .menu-side {
        flex: 0 0 100%;
    }

    .search-section[data-id="results"] .content-section__title {
        display: none;
    }

    .menu-popup__mobile-nav[data-page="0"] [data-target="0"],
    .menu-popup__mobile-nav[data-page="1"] [data-target="1"],
    .menu-popup__mobile-nav[data-page="2"] [data-target="2"] {
        text-decoration: underline;
    }

    .menu-popup__mobile-nav[data-page="1"] + .search-section[data-id="results"] {
        transform: translateX(-100%);
    }

    .menu-popup__mobile-nav[data-page="2"] + .search-section[data-id="results"] {
        transform: translateX(-200%);
    }

    .search__cards {
        grid-template-columns: 1fr;
        gap: 30px;
    }
}

@media (max-width: 650px) {
    .search-section .products__grid--flex {
        grid-template-columns: 1fr 1fr;
    }
}