.slider__wrapper {
    position: relative;
}

.slider:not([data-slider-on="mobile"]) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

.slider--vertical:not([data-slider-on="mobile"]) {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.slider--vertical .slide {
    max-height: 100%;
    overflow: hidden;
}

.slider:not(.slider--mobile-scrollbar):not(.slider--scrollbar) {
    scrollbar-width: none;
}

@media (max-width: 900px) {
    .slider--mobile-no-stick {
        scroll-snap-type: none;
        scroll-behavior: auto;
        scroll-snap-stop: normal;
    }
}

.slider--scrollbar {
    padding-bottom: 10px;
    scrollbar-color: #000 transparent;
}

@-moz-document url-prefix() {
    .slider--scrollbar::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: var(--gap);
        right: var(--gap);
        border-top: 1px dashed #AEAEAE;
    }
}

.slider--scrollbar::-webkit-scrollbar {
    height: 10px;
    border-bottom: 1px dashed #AEAEAE;
}

.slider--scrollbar::-webkit-scrollbar-thumb {
    border-bottom: 1px solid #000;
    height: 10px;
    background: transparent;
    margin-top: -2px;
}

.slider--vertical.slider--scrollbar::-webkit-scrollbar {
    height: auto;
    width: 10px;
    border-top: none;
    border-left: 1px dashed #AEAEAE;
}

.slider--vertical.slider--scrollbar::-webkit-scrollbar-thumb {
    height: auto;
    width: 10px;
    margin-top: 0;
    margin-left: -2px;
}

@media (min-width: 901px) {
    .slider--mobile-scrollbar {
        scrollbar-width: none;
    }

    .slider--mobile-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 900px) {
    .slider[data-slider-on="mobile"] {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
    }

    .slider--mobile-scrollbar {
        padding-bottom: 15px;
    }

    .slider--mobile-scrollbar::-webkit-scrollbar {
        height: 7px;
        background: #ddd;
        border-radius: 3px;
        overflow: hidden;
    }
    
    .slider--mobile-scrollbar::-webkit-scrollbar-thumb {
        border-radius: 3px;
        background: #6b6b6b;
        height: 7px;
    }
}

.scrolling-back {
    scroll-behavior: initial !important;
}

.slider:not(.slider--mobile-scrollbar):not(.slider--scrollbar)::-webkit-scrollbar {
    display: none;
}

.slider--dragging {
    scroll-snap-type: initial;
    /* scroll-behavior: initial; */
}

.slider--dragging * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider__nav {
    display: flex;
    gap: 10px;
}

.slider__wrapper--start > .slider__control--prev,
.slider__wrapper--end > .slider__control--next {
    opacity: 0.3;
    pointer-events: none;
}

.slider__wrapper--end.slider__wrapper--start > .slider__control {
    opacity: 0;
    pointer-events: none;
}

.slider__wrapper:not(.slider__wrapper--loaded) > .slider__control {
    opacity: 0;
    pointer-events: none;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start start;
}

.slide--last,
.slide:last-child {
    scroll-snap-align: end end;
}

.slider__dots {
    display: flex;
    gap: 12px;
}

.slider__dot {
    width: 12px;
    height: 12px;
    background: #b5b7b7;
    border-radius: 50%;
    cursor: pointer;
}

.slider__dot--active {
    background: #787878;
}

.slider__wrapper--buttons-side {
    overflow: hidden;
}

.slider__wrapper--buttons-side .button-tri-left,
.slider__wrapper--buttons-side .button-tri-right {
    position: absolute;
    top: 13.5vw;
    margin-top: -21px;
    transform: translateX(-101%);
    left: 0;
    z-index: 3;
    transition: transform 0.3s;
    display: block;
}

.slider__wrapper--buttons-side .button-tri-right {
    transform: translateX(101%);
    right: 0;
    left: auto;
}

.slider__wrapper--buttons-side:not(.slider__wrapper--start):focus-within .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):focus-within .button-tri-right,
.slider__wrapper--buttons-side:not(.slider__wrapper--start):focus .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):focus .button-tri-right,
.slider__wrapper--buttons-side:not(.slider__wrapper--start):hover .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):hover .button-tri-right {
    transform: translateX(0);
}


@media only screen and (max-width: 768px) {
  .slider__wrapper--buttons-side .button-tri-left, .slider__wrapper--buttons-side .button-tri-right {
    display: none;
  }
}