.product-unit__swatches {
    display: flex;
    max-width: calc(28px * var(--product-unit-sw-limit));
    overflow: hidden;
    z-index: 2;
}

.product-unit__swatches-container {
    position: absolute;
    top: 0;
    left: 0;
    gap: 3px;
}

.product-unit__swatches-container::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 20px;
    background: #f7f7f7;
    content: '';
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s;
}

.product-unit__swatches-container::after {
    left: calc(var(--gap) * -1);
    bottom: calc(var(--gap) * -1);
    top: calc(var(--gap) * -1);
    right: calc(var(--gap) * -1);
    z-index: -1;
    content: '';
    position: absolute;
}

.product-unit:focus .product-unit__swatches-container::before,
.product-unit:focus-within .product-unit__swatches-container::before,
.product-unit:hover .product-unit__swatches-container::before {
    opacity: 1;
}

.product-unit:focus .product-unit__swatches-container,
.product-unit:focus-within .product-unit__swatches-container,
.product-unit:hover .product-unit__swatches-container {
    opacity: 1
}

.color-swatch {
    height: 28px;
    width: 28px;
    flex: 0 0 28px;
    position: relative;
}

.color-swatch {
    --background: #eee;
}

.color-swatch::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: var(--background);
}

.color-stone::after,
.color-white-bandana::after,
.color-white::after {
    border: 1px solid #aeaeae;
}

a.color-swatch--active::after {
    box-shadow: 0 0 0 2px inset #fff, 0 0 0 1px #000;
}

.color-swatch--active.color-stone::after,
.color-swatch--active.color-white-bandana::after,
.color-swatch--active.color-white::after {
    box-shadow: inset 0 0 0 2px #fff, inset 0 0 0 3px #aeaeae,0 0 0 1px #000;
    border: 0;
}

.color-swatch * {
    pointer-events: none;
}

.color-swatch img {
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}

.color-swatch--active img {
    border: 2px solid #fff;
}

.color-swatch.product-option--na::before {
    width: 20px;
    left: 50%;
    top: 50%;
    border-top: 2px solid #f7f7f7;
    content: '';
    position: absolute;
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 3;
}

.color-stone.product-option--na::before,
.color-white-bandana.product-option--na::before,
.color-white.product-option--na::before {
    border-color: #000;
}

.extra-colors {
    text-decoration: underline;
    font-size: 14px;
    line-height: 20px;
    margin-right: 5px;
}

.color-wavy {
    --background: #000;
}

.color-onyx,
.color-black-new,
.color-brushed-black,
.color-luka-black,
.color-ambeur-black,
.color-black,
.color-gunmetal-black,
.color-obsidian,
.color-trnk-black {
    --background: #000;
}

.color-moss {
    --background: #4d4f3a;
}

.color-dune {
    --background: #ddd0c8;
}

.color-canyon {
    --background: #FFCFA8;
}

.color-glacier {
    --background: #7C98D0;
}

.color-juniper {
    --background: #A8AD95;
}

.color-pear {
    --background: #e8d179;
}

.color-aurora-pink {
    --background: #D9B0B8;
}

.color-pink,
.color-shimmer-pink {
    --background: #D9B0B8;
}

.color-pink-sand {
    --background: #EDD3CE;
}

.color-eclipse {
    --background: #d3ad80;
}

.color-terracotta {
    --background: #DF9384;
}

.color-red {
    --background: #BB1E25;
}

.color-linen {
    --background: #E3DCCC;
}

.color-brick {
    --background: #cc3b14;
}

.color-oatmeal {
    --background: #e3dccd;
}

.color-orange {
    --background: #FD5D00;
}

.color-mist {
    --background: #cddfe9;
}

.color-arctic {
    --background: #758f9c;
}

.color-cappuccino-tie-dye {
    --background: #cabaab;
}

.color-rosewood-tie-dye {
    --background: #ccb0af;
}

.color-rust {
    --background: #a06c55;
}

.color-maroon {
    --background: #883935;
}

.color-espresso {
    --background: #765E56;
}

.color-forest {
    --background: #455E49;
}

.color-mauve {
    --background: #b7979f;
}

.color-sedona {
    --background: #a84a31;
}

.color-rose {
    --background: #DB8496
}

.color-marine {
    --background: #5D8AAC
}

.color-pistachio {
    --background: #92A17D
}

.color-winter-sky {
    --background: #9EC1E5;
}

.color-sage {
    --background: #89B3A1;
}

.color-hydrangea {
    --background: #BFD3E8;
}

.color-rosewood {
    --background: #AC6879;
}

.color-bubblegum {
    --background: #FFB3E7;
}

.color-deep-sea {
    --background: #206091;
}

.color-sky {
    --background: #ABC1D8;
}

.color-bermuda {
    --background: #0e4459;
}

.color-bluebell {
    --background: #95a8b5;
}

.color-burgundy {
    --background: #4f3031;
}

.color-sand {
    --background: #DED3CE;
}

.color-silver-stardust {
    --background: #D4D5D5;
}

.color-palm-leaf {
    --background: #465768;
}

.color-stars {
    --background: #7b7b99;
}

.color-terrazzo {
    --background: #878183;
}

.color-terracota {
    --background: #DF9384;
}

.color-caramel {
    --background: #C49A84;
}

.color-charcoal-grey,
.color-charcoal {
    --background: #6A6C6C;
}

.color-confetti,
.color-cream {
    --background: #FFFAF0;
}

.color-sunset {
    --background: #fb4d4f;
}

.color-gingham {
    --background: #c7a885;
}

.color-cloud {
    --background: #b4d3ef;
}

.color-daisy {
    --background: #c6c9b1;
}

.color-walnut {
    --background: #634031;
}

.color-trnk-espresso {
    --background: #8c7168;
}

.color-sand-tide {
    --background: #a6957d;
}

.color-atlantic {
    --background: #667893;
}

.color-birch {
    --background: #D7D2C1;
}

.color-toffee {
    --background: #A26F4E;
}

.color-sky {
    --background: #C0DAFF;
}

.color-honey {
    --background: #EFB94E;
}

.color-cognac {
    --background: #8B5D39;
}

.color-deep-sea {
    --background: #206091;
}

.color-denim {
    --background: #ABC6DE;
}

.color-emerald {
    --background: #004B37;
}

.color-mint {
    --background: #BACFBC;
}

.color-mustard-bandana {
    --background: #CCA837;
}

.color-things-between {
    --background: #ada9b6;
}

.color-ash {
    --background: #cccbc7;
}

.color-navy {
    --background: #273145;
}

.color-gold-marble {
    --background: #eae5e9;
}

.color-blush {
    --background: #EDC7C8;
}

.color-shell-pink {
    --background: #e9d1cc;
}

.color-blush-pink {
    --background: #EDC7C8;
}

.color-sky-tie-dye-wash,
.color-sky-tie-dye {
    --background: #8fa5a9;
}

.color-sand-tie-dye-wash,
.color-sand-tie-dye {
    --background: #c5b7ac;
}

.color-bon-voyage,
.color-bronze {
    --background: #E0BEAD;
}

.color-kaya-bronze {
    --background: #baa286;
}
.color-taupe {
    --background: #b7a096;
}
.color-aqua {
    --background: #9ee8d8;
}
.color-kiwi {
    --background: #6d7536;
}
.color-ginger {
    --background: #6e3b09;
}


[data-product-handle="kaya-laptop-backpack"] .color-emerald,
[data-product-handle="kaya-laptop-backpack-sale"] .color-emerald,
#kaya-laptop-backpack-on-sale-calpak .color-emerald,
#kaya-laptop-backpack-calpak .color-emerald {
    --background: #294f34;
}

[data-product-handle="kaya-laptop-backpack"] .color-lavender,
[data-product-handle="kaya-laptop-backpack-sale"] .color-lavender,
#kaya-laptop-backpack-on-sale-calpak .color-lavender,
#kaya-laptop-backpack-calpak .color-lavender {
    --background: #e2bce1;
}

.color-mocha {
    --background: #604831;
}

.color-plaid {
    --background: #685856;
}

.color-polka-dot {
    --background: #EDE2DA;
}

.color-cheetah {
    --background: #B99475;
}

.color-lavender {
    --background: #e2bce1;
}

.color-petal {
    --background: #f1ced4;
}

.color-olive {
    --background: #605b43;
}

.color-gold {
    --background: #d0bdaf;
}

[data-product-handle*="kaya"] .color-gold {
    --background: #F0DCCF;
}

.color-periwinkle {
    --background: #83A4CC;
}

.color-cool-grey {
    --background: #B2B2B6;
}

.color-rose-gold {
    --background: #c79e95;
}

.color-silver {
    --background: #d2d4d8;
}

.color-grey,
.color-trnk-grey {
    --background: #D4D5D5;
}

.color-trnk-almond {
    --background: #ebbb94;
}

.color-wild-free {
    --background: #C5D4E2;
}

.color-white-bandana,
.color-white {
    --background: #fff;
}

.color-stone {
    --background: #f4f1eb;
}

.color-retro-sunset {
    --background: #F8A439;
}

.color-groovy-blue {
    --background: #95B8FF;
}

.color-poppy {
    --background: #F94E3D;
}

.color-cobalt {
    --background: #263BD3;
}

.color-beige {
    --background: #efe1d6;
}

.color-blue {
    --background: #3C5F91;
}

.color-brown {
    --background: #96634D;
}

.color-matte-black {
    --background: #000;
}

.color-rose-quartz {
    --background: #c6a99c;
}

.color-green {
    --background: #667541;
}

.color-dove-grey {
    --background: #cfcbbf;
}

.color-iron {
    --background: #7e7e7d;
}

.color-chocolate {
    --background: #877769;
}

.color-yellow {
    --background: #FF9B00;
}

.color-lemonade {
    --background: #FFEEB3;
}

.color-dijon {
    --background: #E6AF51;
}

.color-jade {
    --background: #C1D2C7;
}

.color-nude,
.color-trnk-nude {
    --background: #E5D7D1;
}

.color-bloom {
    --background: #e0cfe0;
}

.color-kaya-olive {
    --background: #757453;
}

.color-hue-olive {
    --background: #48573B;
}

.color-midnight-marble {
    --background: #333;
}

.color-merlot {
    --background: #902C4A;
}

.color-pumpkin {
    --background: #D78943;
}

.color-hazel {
    --background: #8C5138;
}

.color-orchid {
    --background: #b78ae3;
}

.color-celery {
    --background: #D4DD5A;
}

.color-kale {
    --background: #006B57;
}

.color-dragonfruit {
    --background: #F6639C;
}

.color-papaya {
    --background: #F08247;
}

.color-guava {
    --background: #F5B3D6;
}

.color-amethyst {
    --background: #D6B5DE;
}

.color-honeydew {
    --background: #A5C0A5;
}

.color-astrology {
    --background: #32576d;
}

.color-sunset {
    --background: #f81562; 
}

.color-slate {
    --background: #5E6263; 
}

.color-milk-marble {
    --background: #ccc;
}











.color-group {
    background: #aeaeae;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    flex: 0 0 20px;
    pointer-events: none;
    position: relative;
}

.filt-col-group--active .color-group {
    border: 1px solid #000;
}

.filt-col-group--active .color-group::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 2px solid #fff;
    border-radius: 50%;
}

.filt-col-group--active .color-group.color-group-white::before {
    box-shadow: inset 0 0 0 1px #aeaeae;
}

.color-group-beige {
    background: #efe1d6;
}

.color-group-black {
    background: #000;
}

.color-group-blue {
    background: #3C5F91;
}

.color-group-brown {
    background: #96634D;
}

.color-group-green {
    background: #667541;
}

.color-group-grey {
    background: #ABACAC;
}

.color-group-lavender {
    background: #CAC3EB;
}

.color-group-metallic {
    background: #ccc;
}

.color-group-pink {
    background: #EDD3CE;
}

.color-group-print {
    background: #aaa;
}

.color-group-red {
    background: #BB1E25;
}

.color-group-rose-gold {
    background: #c79e95;
}

.color-group-white {
    background: #fff;
    border: 1px solid #aeaeae;
}

.color-group-yellow {
    background: #E8D179;
}

.color-group-orange {
    background: #F08247;
}