.menu-popup--search {
    z-index: 54;
    height: 100%;
}

.search-popup__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.search-popup__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0 0 10px 10px;
    background: #fff;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
}

.search__top {
    border-bottom: 1px dashed #AEAEAE;
    height: 42px;
    padding: 0 var(--gap);
    position: relative;
    flex: 0 0 100%;
}

.search__top form {
    width: 100%;
    height: 100%;
    display: flex;
}

.search-button {
    flex: 0 0 30px;
    overflow: hidden;
    border: 0;
    background: transparent;
    padding: 0;
    margin-left: -7px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input__container {
    position: relative;
    flex: 1;
}

.search-input__container .search-placeholders {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 10px;
}

.search-input {
    width: 100%;
    height: 100%;
    padding: 0 0 0 10px;
    border: 0;
    outline: none;
}

.search-input:focus + .search-placeholders,
.search-input:valid + .search-placeholders {
    opacity: 0;
}

.menu-popup--search .menu-popup__content {
    margin: 0;
    border: 0;
    flex-wrap: wrap;
}

.menu-popup--search .menu-popup__main {
    padding-bottom: 30px;
    height: 100%;
}

.search__collections-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.menu-popup--search:not([data-status="results"]) .search-section[data-id="results"],
.menu-popup--search:not([data-status="init"]) .search-section[data-id="init"],
.menu-popup--search:not([data-status="empty"]) .search-section[data-id="empty"] {
    display: none;
}

.search-section .menu-side {
    padding: 0;
    max-height: 100%;
    flex: 1;
}

.search-section .menu-side .content-section {
    padding: var(--gap);
}

.search__empty-message {
    padding: var(--gap);
    border-bottom: 1px dashed #AEAEAE;
    flex: 0 0 100%;
}

.menu-popup--search.menu-popup--visible {
    display: block;
}

.search-result__product:empty {
    padding-top: 133.33%;
    background: #f7f7f7;
    margin-bottom: 52px;
    border-radius: 9px;
}

.search-col-num:empty,
.search-num:empty {
    display: none;
}

.search-col-num::before,
.search-num::before {
    content: '('
}

.search-col-num::after,
.search-num::after {
    content: ')';
}

.search-section .products__grid {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.menu-popup__content.search-section {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100vh - 142px);
}

.menu-side {
    border-left: 1px dashed #AEAEAE;
    padding: var(--gap);
}

.content-section--stories {
    border-top: 1px dashed #AEAEAE;
    display: none;
}

.search__cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--gap);
}

.search__card {
    text-decoration: inherit;
    display: block;
}

.search__card-image {
    padding-top: 66.6667%;
    background: #f7f7f7;
    border-radius: 9px;
    margin-bottom: 5px;
    position: relative;
    overflow: hidden;
    color: transparent;
}

.search__card-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}