.menu-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 3;
}

/* body.modal-open #shopify-section-promo-bar {
    display: none;
    transition: .2s ease;
 } */


@media (min-width: 1728px) {
    .menu-popup.menu-popup--shop {
        height: auto;
    }
}

[data-menu="discover"] [data-target="discover"]::before,
[data-menu="shop"] [data-target="shop"]::before {
    content: '';
    position: absolute;
    bottom: -1px;
    border-top: 1px solid #000;
    left: 0;
    width: 100%;
    z-index: 2;
}

[data-menu="shop"] .menu-popup[data-id="shop"],
[data-menu="discover"] .menu-popup[data-id="discover"] {
    display: flex;
}

.menu-popup__background {
    display: block;
    background: var(--yellow);
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    /* height: 42px; */
    width: 100%;
    height: 100%;
    /* width: 0; */
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s, background 0.2s;
    opacity: 0;
}

.menu-popup--visible .menu-popup__background {
    transition: none;
}

.modal-open .menu-popup__background,
.menu-popup--visible .menu-popup__background {
    opacity: 1;
}

[data-menu="discover"] .menu-popup__background,
[data-menu="shop"] .menu-popup--visible .menu-popup__background {
    background: var(--yellow);
}

[data-menu="shop"] .menu-popup__background,
[data-menu="discover"] .menu-popup--visible .menu-popup__background {
    background: #fff;
}

[data-menu="shop"] .menu-popup__background,
[data-menu="discover"] .menu-popup__background {
    /* opacity: 1; */
    pointer-events: all;
    /* animation: backgroundUnfold ease-in-out both 0.6s; */
}

.menu-popup--discover .menu-side,
.menu-popup--discover .menu-popup__main,
.menu-popup--shop .menu-side,
.menu-popup--shop .menu-popup__main {
    opacity: 0;
    transform: translateX(70px);
    transition: opacity 0.4s, transform 0.4s;
}

.menu-popup--discover.menu-popup--visible .menu-side,
.menu-popup--shop.menu-popup--visible .menu-side {
    transition-delay: 0.6s;
    opacity: 1;
    transform: translateX(0);
}

.menu-popup--discover.menu-popup--visible .menu-popup__main,
.menu-popup--shop.menu-popup--visible .menu-popup__main {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.4s;
}

@keyframes backgroundUnfold {
    0% {
        width: 0;
        height: 42px;
    }

    50% {
        width: 100%;
        height: 42px;
    }

    100% {
        width: 100%;
        height: 100%;
    }
}

.menu-popup--discover .menu-popup__content,
.menu-popup--shop .menu-popup__content {
    position: relative;
    z-index: 2;
    max-width: 100%;
}

.menu-popup__content {
    border-top: 1px dashed #AEAEAE;
    margin: 42px 0 0;
    display: flex;
    flex: 1;
}

.menu-side {
    flex: 0 0 50%;
    border-left: 1px dashed #AEAEAE;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;
}

.menu-side::-webkit-scrollbar {
    display: none;
}

.menu__dynamic-element:not(.menu__dynamic-element--active) {
    display: none;
}

.media-grid {
    flex: 1;
    padding: var(--gap);
    gap: var(--gap);
    display: grid;
}

.media-grid[data-num="3"],
.media-grid[data-num="4"] {
    grid-template-columns: 1fr 1fr;
}

.media-grid[data-num="3"] .media-cell {
    grid-column: span 2;
}

.media-grid[data-num="3"] .media-cell.menu__dynamic-element--active ~ .media-cell.menu__dynamic-element--active {
    grid-column: span 1;
}

.media-cell {
    background: #c5c5c5;
    color: #fff;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    overflow: hidden;
    text-decoration: inherit;
}

.media-cell--color-black {
    color: #000;
}

.media-cell--color-black .media-cell__title {
    background: #000;
    color: #fff;
}

.media-cell img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.media-cell .button {
    min-width: 155px;
    position: relative;
    z-index: 2;
}

.media-cell__title {
    font-size: 36px;
    line-height: 1.25em;
    letter-spacing: -0.02em;
    position: relative;
    z-index: 2;
    background: #fff;
    color: #000;
    padding: 8px var(--gap);
    border-radius: 6px;
    margin: 0rem 1rem;
    text-align: center;
}

.media-cell__description {
    line-height: 1.25em;
    max-width: 400px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    z-index: 2;
    background: var(--yellow);
    color: #000;
    padding: 10px var(--gap);
    border-radius: 6px;
}

.menu-side .product-slider {
    border-top: 1px dashed #AEAEAE;
    padding: var(--gap);
}

.menu-popup__main {
    flex: 2;
    padding: var(--gap);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto;
    scrollbar-width: none;
    overscroll-behavior: contain;
}

.menu-popup__main .menu {
    margin-bottom: 40px;
    font-size: 18px;
}

.menu-popup__main .menu > li:not(:first-child) li:last-child {
    text-decoration: underline;
}

.menu-popup__main::-webkit-scrollbar {
    display: none;
}

.menu__dynamic-element.slider__wrapper--start .slider__control--prev  {
    opacity: 0.3;
}

.menu__dynamic-element.slider__wrapper--end .slider__control--next {
    opacity: 0.3;
}

.site-header__overlay {
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: opacity 0.5s;
    background: #000;
    pointer-events: none;
    display: block;
}

[data-menu="shop"] .site-header__overlay,
[data-menu="discover"] .site-header__overlay {
    opacity: 0.4;
    pointer-events: all;
}

@media (min-width: 1728px) {
    .media-cell {
        min-height: 20vw;
    }
}

@media screen and (max-width: 1370px){
    .menu-side .product-unit__colors .product-unit__colors-text {
        bottom: -7px;
        color: var(--gray);
        font-size: 14px;
        position: absolute;
        transition: opacity .3s;
        display: flex;
        gap: 4px;
    }
    
}

@media (max-width: 1536px) {
    .menu-popup--shop .menu-side .media-grid {
        display: none;
    }

    .menu-popup--shop .menu-side .product-slider {
        border-top: 0;
    }
}

/* Hide hot deals badge in nav */
.menu-popup__content .product-label--active {
    display: none!important;
}