.pdp__upsell {
    padding: 0 21px;
    margin: 50px -21px 0;
}
  
.pdp__upsell-title {
    margin-bottom: 5px;
}

.pdp__upsell .slide {
    flex: 0 0 50%;
}

@media (max-width: 900px) {
    .pdp__upsell {
        padding: 0;
        margin: 40px 0 0;
    }
}