.sticky-promo {
    display: block;
    position: fixed;
    bottom: var(--gap);
    right: var(--gap);
    border-radius: 9px;
    overflow: hidden;
    width: 220px;
    z-index: 10;
    box-shadow: 0 0 0 1px #000;
    margin: 0 1px 1px 0;
}

.sticky-promo--only-hero {
    right: calc( 2 * var(--gap) );
    position: absolute;
}

.sticky-promo__close {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 45px;
    height: 45px;
}

.sticky-promo__info {
    height: 42px;
    background: var(--orange);
    color: #000;
    line-height: 1.25em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sticky-promo__info a {
    text-decoration: none;
}