.customer__page--form {
    max-width: 580px;
    margin: 90px auto;
}

.field__error-message.field__error-message--js {
    display: none;
}

.field--invalid .field__error-message.field__error-message--js {
    display: inline-block;
}

.field--invalid .field__error-message.field__error-message--js + .field__error-message {
    display: none;
}