.collection-filter__color {
    align-self: flex-start;
    min-width: 0;
    padding: var(--gap) 0;
}

.collection-filter__color-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: var(--gap);
}

.filter__reset {
    text-decoration: underline;
}

.collection-filters > .filter__reset {
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    text-decoration: underline;
    line-height: 42px;
}

.filt-col-group {
    --filt-order: 1;
    height: 42px;
    padding: 0 10px;
    border: 1px solid var(--gray);
    border-radius: 9px;
    min-width: 95px;
    flex-basis: fit-content;
    color: var(--gray);
    display: flex;
    align-items: center;
    gap: 6px;
    white-space: nowrap;
    text-transform: capitalize;

}

.filt-col-group--active {
    color: #000;
    border-color: #000;
    font-weight: var(--font-body-weight-bold);
    border-width: 2px;
}

.filt-col-group:hover {
    border-color: #000;
}

.collection-filter--color .button {
    min-width: 210px;
}

.collection-filter--color {
    position: relative;
}

@media (max-width: 900px) {
    .collection-filter__color {
        padding: var(--gap);
    }
}