.pdp__upsell {
    padding: 0 21px;
    margin: 20px -21px 50px;
}

.pdp__upsell .product-unit:not(.product-unit--loaded) .product-unit__image img {
    display: none;
}

.pdp__upsell-title {
    margin-bottom: 5px;
    font-weight: 500;
}

.pdp__upsell .slide {
    flex: 0 0 50%;
}

@media (max-width: 1180px) {
    .pdp__upsell {
        padding: 0;
        margin: 40px 0 0;
    }
}