.star-rating {
    position: relative;
    display: inline-block;
    margin-top: -2px;
}

.star-background {
    display: flex;
    gap: 3px;
}

.star-rating .star-icon {
    flex: 0 0 11px;
    fill: var(--gray);
    width: 11px;
    height: 11px;
}

.star-reviews .star-icon {
    fill: #000;
    font-size: 0;
}

.star-reviews {
    display: flex;
    gap: 3px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}