.promo-unit {
    opacity: 1;
}

.promo-unit__inner {
    display: flex;
    position: relative;
}

.promo-unit__image {
    flex: 0 0 50%;
    min-width: 0;
}

.promo-unit__image:not(:only-child) {
    position: relative;
}

.promo-unit__image .ratio-container {
    position: static;
}

.promo-unit__text {
    flex: 1;
    min-width: 0;
    background: #e4dfd5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--gap);
    padding: 32px;
}

.promo-unit__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1em;
    margin: 0;
}

.promo-unit__description {
    line-height: 1.5em;
}

.section-filtered .promo-unit {
    display: none;
}

@media (max-width: 900px) {
    .promo-unit__inner {
        border-radius: 9px;
        overflow: hidden;
    }

    .promo-unit__title {
        font-size: 24px;
    }

    .promo-unit__text {
        padding: 18px;
    }
}