.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu-item > a {
    font-size: 36px;
    padding: 0px 5px 5px 5px;
    letter-spacing: -0.02em;
    text-decoration: none;
    color: inherit;
    display: inline-block;
    line-height: 1.2em;
    border: 1px solid #000;
    border-radius: 9px;
    transition: all 0.3s ease;
}
.menu-popup[data-id=discover] .menu-item > a {
    border: none;
}
.menu-popup[data-id=discover] .menu-item > a:hover {
    border: 1px solid #000;

}

.menu-item--active > a,
.menu-item > a:hover,
.menu-item--active > button,
.menu-item > a:hover,
.menu-item > button:hover {
    border: 1px solid #000;
    border-radius: 9px;
    background: #fff;
}

.menu-item--active > a,
.menu-item--active > button {
    background: #fff;
}

.menu-popup--discover .menu-item--active > a {
    background: var(--yellow);
}

.submenu {
    list-style-type: none;
    padding: 15px 0 0;
    margin: 0 0 var(--gap);
    display: none;
    flex-direction: column;
    gap: 15px;
}

.menu-item--active .submenu {
    display: flex;
}

.submenu-item a {
    text-decoration: none;
}

.submenu-item a:hover {
    font-style: italic;
}
