.pdp__upsell {
    padding: 0 21px;
    margin: 50px -21px 0;
}

.pdp__upsell .product-unit:not(.product-unit--loaded) .product-unit__image img {
    display: none;
}

.pdp__upsell-title {
    margin-bottom: 5px;
}

.pdp__upsell div#product-card__ {
    margin-bottom: 0!important;
}

.pdp__upsell .product-label.hot-deals-badge,
.pdp__upsell .product-label.product-label--disclaimer--no-final {
    display: none!important;
}

.pdp__upsell .slide {
    flex: 0 0 50%;
}

.pdp__upsell div#product-card__ {
    margin-bottom: 0!important;
}

@media (max-width: 1180px) {
    .pdp__upsell {
        padding: 0;
        margin: 40px 0 0;
    }
}

/* Hide hot deals badge in nav */
.pdp__upsell .product-label--active {
    display: none!important;
}