.notifications-popup {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 50;
}

.notifications-popup--active {
    display: block;
}

.notifications-content {
    display: flex;
    flex-direction: column-reverse;
    width: 370px;
}

.notifications-header {
    height: 42px;
    border-bottom: 1px dashed #AEAEAE;
    display: flex;
    gap: var(--gap);
    align-items: center;
    padding-left: var(--gap);
    background: #fff;
    position: relative;
    z-index: 2;
}

.notifications-list {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: var(--gap);
    gap: var(--gap);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 9px 9px;
    overflow: hidden;
}

.notification {
    border: 1px solid #000;
    border-radius: 9px;
    padding: 10px;
}

.notification a {
    text-decoration: underline;
    white-space: nowrap;
}

@media (max-width: 600px) {
    .notifications-popup {
        bottom: 0;
        top: auto;
        left: 0;
    }

    .notifications-content {
        width: 100%;
        border-radius: 9px 9px 0 0;
    }
}