@keyframes onload {
    0% {
        opacity: 0;
    }
    1% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.product-label:not(.product-label--active).product-label--preorder,
.product-label:not(.product-label--active)[data-options] {
    display: none!important;
}

.product-label {
    font-size: 14px;
    display: flex;
    line-height: 22px;
    gap: 5px;
}

.floating-labels .product-label--hidden {
    display: none;
}

.product-label a {
    text-decoration: none;
}

.product-label strong {
    border-radius: 6px;
    padding: 0 8px;
    white-space: nowrap;
    align-self: flex-start;
    font-weight: inherit;
}

.product-unit {
    display: flex;
    flex-direction: column;
}

.product-unit__row {
    display: flex;
    gap: 8px;
}

.product-unit__image-wrapper ~ .product-label {
    border-radius: 6px;
    gap: 5px;
    display: flex;
    align-self: flex-start;
    height: 22px;
    line-height: 22px;
    margin-bottom: 5px;
}

.product-unit__wishlist,
.product-unit__colors,
.quick-view__link--circle {
    display: none;
}

.product-unit__image-wrapper {
    margin-bottom: 9px;
    overflow: hidden;
    position: relative;
}

.product-unit__image {
    padding-top: 133.333%;
    background: #f7f7f7;
    position: relative;
    color: transparent;
    display: block;
}

.product-unit__image::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0 0 -23px;
    width: 46px;
    height: 46px;
    border: 3px dashed var(--gray);
    border-radius: 50%;
    z-index: 1;
    animation: rotate 1.6s infinite linear;
}

.product-unit__image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    opacity: 0;
}

.product-unit__image > img:first-child {
    animation-name: onload;
  animation-duration: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 1;
}
.static-video-desktop{
    animation-name: onload;
  animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}
.modular-block{
    animation-name: onload;
  animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    opacity: 0;
}
.product-unit__image > img:last-child {
    animation-name: onload;
  animation-duration: 3s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: ease-in;
    animation-fill-mode: backwards;
    /*opacity: 1;*/
}
.product-unit__image .img-hover {
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}
.product-unit__image-wrapper:hover .img-hover {
    opacity: 1;
    z-index: 2;
}


.product-unit__title {
    margin-bottom: 3px;
    font-weight: var(--font-body-weight-bold);
    line-height: 1.25em;
    position: relative;
}

.product-grid--gap .product-unit__colors-text {
    display: none;
}

.product-grid--gap .product-unit__colors-text {
    display: none;
}

.product-grid--gap .product-unit__colors-text {
    display: none;
}

.product-unit__title--wishlist {
    padding-right: 28px;
}

.product-unit__title a {
    text-decoration: none;
    font-weight: var(--font-body-weight);
}
.product-unit__title h3{
    font-weight: normal;
    margin: 0;
    font-size: 1rem;
    font-weight: var(--font-body-weight);
}

.product-unit--na .product-label.product-label--promo,
.product-unit--na .product-label.product-label--final,
.product-unit--na .product-label--sale,
.product-unit--na .product-label--extra-sale,
[data-status="sold-out"] .product-label.product-label--promo,
[data-status="sold-out"] .product-label.product-label--sale,
[data-status="sold-out"] .product-label.product-label--extra-sale,
[data-status="sold-out"] .product-label--final,
[data-status="sold-out"] .product-label--disclaimer {
    display: none;
}

.product-label--preorder,
.product-label--flash {
    border-radius: 6px;
    justify-content: space-between;
    padding: 0 8px;
}

.floating-labels {
    display: none;
}

.product-label--badge {
    display: none;
}

.product-label--flash {
    background: var(--flash-accent);
    color: var(--flash-text);
}

.product-label--promo {
    color: var(--promo-msg-t);
}

.product-unit .product-label--promo {
    color: var(--promo-msg-c-t);
}

.product-label--promo strong {
    color: var(--promo-msg-hgt-t);
    background: var(--promo-msg-hgt);
}

.product-label--final {
    color: var(--final-t);
}

.product-label--final strong {
    color: var(--final-hgt-t);
    background: var(--final-hgt);
}

.product-label--preorder {
    background: var(--preorder-hgt);
    color: var(--preorder-hgt-t);
}

.color-swatch--first {
    order: -1;
}
a.color-swatch.slide.color_mutiple {
    order: 25;
}

.product-label--disclaimer {
    color: var(--product-disclaimer-text);
}

.product-label--final.product-label--active[data-options] + .product-label--disclaimer--no-final,
.product-label--final:not([data-options]) + .product-label--disclaimer--no-final {
    display: none;
}



div.product-label.product.label--memorial-day {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 88px;

}
div.product-label.product.label--memorial-day label {
    font-size: 50px;
    font-weight: 400;
}

/* @media (max-width: 900px) {
    .product-unit__image .img-hover {
        display: none;
    }
} */

/* Hot Deals Styling */
.product-hot-deals {
    border: 1px solid red;
}

.hot-deals-countdown-wrapper {
    background: red;
    color: white;
    padding: 0 8px;
}

@media (min-width: 900px) {
    .hot-deals-mobile {
        display: none !important;
    }
}


@media (max-width: 900px) {
    .hot-deals-mobile.product-label--active {
        padding: 2px 10px;
        background: red;
        color: white;
        height: 25px;
        display: block!important;
        width: fit-content;
        border-radius: 5px;
    }

    .product-unit__title a {
        font-size: 16px;
    }

    .product-label--badge.product-label--badge-collection-page {
        top: unset !important;
    }
}