.floating-labels {
    display: flex;
    align-items: flex-start;
    gap: 9px;
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    left: var(--gap);
    z-index: 5;
    flex-wrap: wrap;
    flex-direction: column;
}

.floating-labels .product-label {
    align-items: center;
    justify-content: center;
    height: 22px;
    font-size: 14px;
    color: var(--gray);
    text-align: center;
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 6px;
    background: #f7f7f7;
}

.product-label--badge {
    display: none;
}
.product-label--badge.product-label--active, 
.product-label--badge.badge-active {
    right: 31px;
    margin-right: 0px;
    position: absolute;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    border: 0;
    background-color: var(--sale-badge-bg);
    color: var(--sale-badge-color);
    text-align: center;
    padding: 0 5px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-size: 21px;
    display: flex!important;
}
.product-label--badge.product-label--badge-collection-page {
    right: 11.01px;
    bottom: 11.01px;
    width: 74px;
    height: 74px;
    font-size: 14px;
}

.shopify-section--pdp-featured .product-label--promo {
    display: none;
}

.shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-top,
.product-label--badge.product-label--badge-desktop-top,
.pdp__upsell .product-label--badge.product-label--badge-desktop-top {
    top: 35px;
}

.pdp__upsell .product-label--badge.product-label--badge-desktop-bottom,
.menu-popup--search .product-label--badge.product-label--badge-desktop-bottom,
.shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-bottom {
    right: 11.01px;
    bottom: 11.01px!important;
    top: unset;
    width: 74px;
    height: 74px;
    font-size: 14px;
}

.product-label--badge.product-label--badge-desktop-bottom {
    top: 553px;
}

.pdp__gallery-container .product-label--badge {
    margin: var(--gap) var(--gap) 0 0;
}

.product-unit .product-label--badge.product-label--badge-bottom,
.product-unit .product-label--badge.product-label--badge-top {
    bottom: 35px;
    top: auto;

    width: 74px;
    height: 74px;   
    
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.product-label--badge.product-label--badge-desktop-bottom {
    right: 31px;
    margin-right: 0px;
}
.cart__upsell .product-label--badge.product-label--active--other,
.pdp__upsell .product-label--badge.product-label--active--other,
.shopify-section--pdp-featured .product-label--badge.product-label--active--other,
.cart__upsell .product-label--badge.product-label--active,
.pdp__upsell .product-label--badge.product-label--active, 
.shopify-section--pdp-featured .product-label--badge.product-label--active{
    top: auto;
    right: 11.01px;
    bottom: 51.01px;
    width: 74px;
    height: 74px;
    font-size: 14px;
}
@media screen and (max-width:649px) {
.cart__upsell .product-label--badge.badge-active,
.pdp__upsell .product-label--badge.badge-active, 
.shopify-section--pdp-featured .product-label--badge.badge-active{
    display: none!important;
}
    
}
.product-label--badge.product-label--badge-tilt {
    transform: rotate(17.82deg);
}
.product-unit .product-label--badge.product-label--badge-tilt {
    transform: rotate(17.82deg);
}

.product-unit:not(.product-unit--na) .product-label--na {
    display: none;
}

/*
    Hide all labels after N/A label for N/A variants
    Hide all labels after preorder label for preorder variants
    For the rest hide labels after non-hidden and non-option-specific labels
    Hide all labels after an activated option-specific label
*/
.product-unit--na .product-label--na ~ .product-label,
.product-unit .product-label--preorder.product-label--active ~ .product-label,
.product-unit .product-label:not(.product-label--na):not(.product-label--preorder):not(.product-label--hidden):not([data-options]) ~ .product-label,
.product-unit .product-label.product-label--active ~ .product-label {
    display: none;
}

body .floating-labels .product-label--sale {
    color: var(--sale-accent);
    border-color: var(--sale-accent);
    background: var(--sale-background);
}
body .floating-labels .product-label--sale .custom-dash {
    border: 2px dotted black;
}

body .floating-labels .product-label--extra-sale {
    color: var(--extra-sale-accent);
    border-color: var(--extra-sale-accent);
    background: var(--extra-sale-background);
}

.floating-labels .product-label--promo {
    color: var(--promo-msg-hgt-t);
    background: var(--promo-msg-hgt);
    border: 0;
}

@media (max-width: 1180px) {
    .floating-labels {
        flex-direction: column;
    }
}

@media (max-width: 900px) {
    
    .shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-bottom,
    .menu-popup--search .product-label--badge.product-label--badge-desktop-bottom {
        display: none!important;
    }
    
    .product-label--badge {
        font-size: 14px;
        right: 13px;
        width: 74px;
        height: 74px;
        border-radius: 74px;
        transform: rotate(0deg)!important;
    }
    .product-label--badge.product-label--badge-mobile-bottom {
        margin: 0px;
    }
    .product-label--badge.product-label--badge-mobile-top {
        top: 10px;
        margin-top: 0;
        right: 10px;
        margin-right: 0px;
    }
    .product-label--badge.product-label--badge-collection-page {
        display: none!important;
    }
    .floating-labels {
        flex-direction: column;
    }
}