.floating-labels {
    display: flex;
    align-items: flex-start;
    gap: 9px;
    position: absolute;
    top: var(--gap);
    right: var(--gap);
    left: var(--gap);
    z-index: 5;
    flex-wrap: wrap;
    flex-direction: column;
}

.floating-labels .product-label {
    align-items: center;
    justify-content: center;
    height: 22px;
    font-size: 14px;
    color: var(--gray);
    text-align: center;
    padding: 4px 8px;
    border: 1px solid;
    border-radius: 6px;
    background: #f7f7f7;
}
.product-unit--add-sale-badge-bundle .countdown-sale-badge-label  {
    display: none !important;
}

.product-label--badge {
    display: none;
}
.pdp__gallery-container > .product-label--badge.product-label--active,
.product-label--badge.badge-active {
    width: 117px;
    height: 117px;
    font-size: 21px;
}
.product-label--badge.product-label--active,
.product-label--badge.badge-active {
    right: 31px;
    margin-right: 0px;
    position: absolute;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    border: 0;
    background-color: var(--sale-badge-bg);
    color: var(--sale-badge-color);
    text-align: center;
    padding: 0 5px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-size: 21px;
}
.pdp__grid[data-status="sold-out"] .pdp__gallery-container .product-label[data-options="false"] {
    display: none !important;
}
.pdp__gallery-container .product-label.product-label--active,
.pdp__gallery-container .product-label[data-options="false"] {
    display: flex !important;
}
.product-label--badge.product-label--badge-collection-page {
    right: 11.01px;
    bottom: 11.01px;
    width: 74px;
    height: 74px;
    font-size: 14px;
    display: flex !important;
}

.hot-deals-badge.product-label--active {
    right: 31px;
    margin-right: 0;
    position: absolute;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    border: 0;
    background-color: red;
    color: white;
    text-align: center;
    padding: 0 5px;
    line-height: 1.25em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    font-size: 21px;
    display: flex!important;
    top: 35px;
}

.shopify-section--pdp-featured .product-label--promo {
    display: none;
}
.slider .product-label--badge.product-label--badge-collection-page {
    display: none !important;
}

.shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-top,
.product-label--badge.product-label--badge-desktop-top,
.pdp__upsell .product-label--badge.product-label--badge-desktop-top {
    top: 35px;
}

.pdp__upsell .product-label--badge.product-label--badge-desktop-bottom,
.menu-popup--search .product-label--badge.product-label--badge-desktop-bottom,
.shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-bottom {
    right: 11.01px;
    bottom: 11.01px!important;
    top: unset;
    width: 74px;
    height: 74px;
    font-size: 14px;
}

.product-label--badge.product-label--badge-desktop-bottom {
    top: 553px;
}

.pdp__gallery-container .product-label--badge {
    margin: var(--gap) var(--gap) 0 0;
}

.product-unit .product-label--badge.product-label--badge-bottom,
.product-unit .product-label--badge.product-label--badge-top {
    bottom: 35px;
    top: auto;

    width: 74px;
    height: 74px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.product-label--badge.product-label--badge-desktop-bottom {
    right: 31px;
    margin-right: 0px;
}
.cart__upsell .product-label--badge.product-label--active--other,
.pdp__upsell .product-label--badge.product-label--active--other,
.shopify-section--pdp-featured .product-label--badge.product-label--active--other,
.cart__upsell .product-label--badge.product-label--active,
.pdp__upsell .product-label--badge.product-label--active,
.shopify-section--pdp-featured .product-label--badge.product-label--active{
    top: auto;
    right: 11.01px;
    bottom: 51.01px;
    width: 74px;
    height: 74px;
    font-size: 14px;
}

.pdp__upsell .product-label--badge.product-label--active,
.cart__empty .product-label--badge.product-label--active {
    top: 24px;
    right: 24px;
}

.menu-popup--search.menu-popup--visible .product-label--badge.product-label--active {
    display: none !important;
}

@media screen and (max-width:649px) {
    .product-label--badge.badge-active {
        display: none;
    }
    .pdp__gallery-container > .product-label--badge.product-label--active,
    .product-label--badge.badge-active,
    .hot-deals-badge.product-label--active {
        width: 74px;
        height: 74px;
        font-size: 14px;
        display: flex;
    }

    .cart__upsell .product-label--badge.badge-active,
    .pdp__upsell .product-label--badge.badge-active,
    .shopify-section--pdp-featured .product-label--badge.badge-active{
        display: none!important;
    }

}
.product-label--badge.product-label--badge-tilt {
    transform: rotate(17.82deg);
}
.product-unit .product-label--badge.product-label--badge-tilt {
    transform: rotate(17.82deg);
}

.product-unit:not(.product-unit--na) .product-label--na {
    display: none;
}

/*
    Hide all labels after N/A label for N/A variants
    Hide all labels after preorder label for preorder variants
    For the rest hide labels after non-hidden and non-option-specific labels
    Hide all labels after an activated option-specific label
*/
.product-unit--na .product-label--na ~ .product-label,
.product-unit .product-label--preorder.product-label--active ~ .product-label,
.product-unit .product-label:not(.product-label--na):not(.product-label--preorder):not(.product-label--hidden):not([data-options]) ~ .product-label,
.product-unit .product-label.product-label--active ~ .product-label {
    display: none;
}

body .floating-labels .product-label--sale {
    color: var(--extra-sale-accent)!important;
    border-color: var(--extra-sale-accent)!important;

}
body .floating-labels .product-label--sale .custom-dash {
    border: 2px dotted black;
}

body .floating-labels .product-label--sale.starter-customize {
    color: black!important;
    border-color: black !important;
}

body .hot-deals-banner-wrapper-sale .floating-labels .product-label--sale.starter-customize {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    background-color: #f7f7f7 !important;
    border-style: solid !important;
}

body .hot-deals-banner-wrapper .floating-labels .product-label--sale.starter-customize {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    background-color: #f7f7f7 !important;
    border-style: solid !important;
}

body .hot-deals-banner-wrapper-school .floating-labels .product-label--sale.starter-customize {
    color: #ff0000 !important;
    border-color: #ff0000 !important;
    background-color: #f7f7f7 !important;
    border-style: solid !important;
}





body .floating-labels .product-label--extra-sale {
    color: var(--extra-sale-accent);
    border-color: var(--extra-sale-accent);
    background: var(--extra-sale-background);
}

.floating-labels .product-label--promo {
    color: var(--promo-msg-hgt-t);
    background: var(--promo-msg-hgt);
    border: 0;
}

@media (max-width: 1180px) {
    .floating-labels {
        flex-direction: column;
    }
}

@media (max-width: 900px) {

    .shopify-section--pdp-featured .product-label--badge.product-label--badge-desktop-bottom,
    .menu-popup--search .product-label--badge.product-label--badge-desktop-bottom {
        display: none!important;
    }

    .product-label--badge {
        font-size: 14px;
        right: 13px;
        width: 74px;
        height: 74px;
        border-radius: 74px;
        transform: rotate(0deg)!important;
    }
    .product-label--badge.product-label--badge-mobile-bottom {
        margin: 0px;
    }
    .product-label--badge.product-label--badge-mobile-top {
        top: 10px;
        margin-top: 0;
        right: 10px;
        margin-right: 0px;
    }
    .product-label--badge.product-label--badge-collection-page {
        display: flex!important;
        align-items: center;
        justify-content: center;
        max-width: 84%;
        min-width: 80px;
        width: fit-content;
        max-height: 48px;
        height: fit-content;
        min-height: 22px;
        border-radius: 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        background-color: #f7f177;
        color: #000;
        text-align: left;
        padding-inline: 6px 6px;
        padding-block: 6px;
        margin-top: 8px;
        margin-bottom: 0px;
        position: relative;
        top: 0;
        right: 0;
    }
    .floating-labels {
        flex-direction: column;
    }
}