.splash a img {
    display: none!important;
}

/* .product-grid .product-label--active img {
    border: 1px solid red;
    border-radius: 9px; 
} */

.product-unit {
    position: relative;
    display: flex;
    flex-direction: column;
    --ord-best: 999;
    --ord-date: 999;
    --ord-prd: 999;
    --ord-pra: 999;
}

.product-unit--filtered-out {
    display: none;
}

.quick-view__link--circle {
    display: block;
    position: absolute;
    right: var(--gap);
    top: var(--gap);
    width: 30px;
    height: 30px;
    z-index: 8;
    margin-top: -4px;
}

.quick-view__link--circle::before,
.quick-view__link--circle::after {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #000;
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    background: #f7f7f7;
}

.quick-view__link--circle::before {
    border: 1px dashed #aeaeae;
    opacity: 1;
}

.quick-view__link--circle img {
    display: block;
    width: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.product-unit:hover .quick-view__link--circle::after {
    opacity: 1;
}

.product-unit:hover .quick-view__link--circle::before {
    opacity: 0;
}

.product-unit__info {
    font-size: 15px;
    margin-bottom: 6px;
    color: var(--product-unit-info-col);
}



.product-unit__wishlist {
    position: relative;
    display: block;
    top: 0px;
}
/* .product-unit:has(.product-unit__button--active) .product-unit__wishlist {
    top: 44px;
} */

.product-unit__wishlist .wishlist__button {
    position: absolute;
    right: var(--gap);
    width: 18px;
    height: 18px;
    top: 3px;
    transition: opacity 0.2s;
}
.product-grid--gap .product-unit__wishlist .wishlist__button {
    position: absolute;
    right: 1px;
    width: 18px;
    height: 18px;
    top: 39px;
    transition: opacity 0.2s;
}

.wishlist__button * {
    pointer-events: none;
}

.wishlist__button--loading {
    opacity: 0.4;
}

.wishlist__button--added .icon-heart {
    fill: #000;
}

.product-slider__header {
    display: flex;
    margin-bottom: 10px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.product-slider__title {
    font-weight: var(--font-body-weight);
}

.product-slider__header .slider__nav {
    margin-right: -12px;
}

.product-slider .slider {
    border-radius: 15px 15px 0 0;
}

.product-slider .slide {
    flex: 0 0 33.333%;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--gap);
}

@media (max-width: 1220px) {
    .products__grid {
        grid-template-columns: repeat(auto-fill,minmax(180px, 1fr));
    }
}

.products__grid .product-unit__image {
    border-radius: 9px;
    overflow: hidden;
}

.product-unit__colors {
    display: block;
    position: absolute;
    bottom: var(--gap);
    left: var(--gap);
    z-index: 5;
    height: 28px;
    margin-bottom: -4px;
    transition: opacity 0.3s;
}

.product-unit[data-single] .product-unit__colors {
    display: none;
}

.product-unit__colors--all {
    bottom: 12px;
    left: 16px;
    right: 17px;
    border-radius: 20px;
    overflow: hidden;
}

.product-unit__colors--all .product-unit__swatches {
    /* max-width: none; */
    overflow-x: auto;
}
.cart__upsell-items .product-unit__colors--all .product-unit__swatches-container {
    max-width: 100%;
    opacity: 1;
}
.product-unit__colors--all .round-icon {
    position: absolute;
    z-index: 5;
    top: 0;
    border-radius: 50%;
    background: none;
}

.product-unit__colors--all .round-icon--prev {
    left: 0;
}

.product-unit__colors--all .round-icon--next {
    right: 0;
    width: 20px;
}

.slider__wrapper--start > .product-slider__header .slider__control--prev,
.slider__wrapper--end > .product-slider__header .slider__control--next {
    opacity: 0.3;
}

.product-unit__colors--all .slider__wrapper--start > .slider__control--prev,
.product-unit__colors--all .slider__wrapper--end > .slider__control--next {
    opacity: 0;
}

.product-unit__colors[data-count="0"] .product-unit__colors-text,
.product-unit__colors[data-count="1"] .product-unit__colors-text {
    opacity: 0;
}

.product-unit__swatches-container {
    opacity: 0;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.section-filtered .product-unit__swatches .color-swatch--filter {
    order: -1;
}
.section-filtered .product-unit__swatches .color-swatch {
    display:none !important;
}
.section-filtered .product-unit__swatches .color-swatch.color-swatch--filter.color-swatch--active {
    display:block !important;
}
.section-filtered .product-unit--quickadd .product-unit__colors--all .product-unit__swatches-container{
    width: 100%;
}
.section-filtered .product-unit__swatches-container .round-icon{
    display: none;
}
.section-filtered .product-unit__swatches-container:before{
    background: transparent !important;
}
.section-filtered .modular-block,
.section-filtered .modular-section__wrap,
.section-filtered .curalate-gallery-wrapper{
    display: none !important;
}
.section-filtered .product-unit__image > .f-loaded{
    object-position: unset !important;
}
.section-filtered .product-unit__image > .static-video-desktop{
    display: none !important;
}
.section-filtered .hot-deals-banner-wrapper,
.section-filtered .hot-deals-banner-wrapper-sale {
    display: none !important;
}
.sale-badge-wrapper:empty {
    display: none;
}
.product-unit__colors-text {
    color: var(--gray);
    font-size: 14px;
    transition: opacity 0.3s;
    /* background: #f7f7f7;
    padding: 0 6px;
    border-radius: 6px; */
}

[data-suffix*="apparel"] .product-unit__colors-text {
    color: #fff;
}

.product-unit__colors-text i {
    font-style: normal;
}

.product-unit__colors--all .product-unit__colors-text,
.product-unit:focus .product-unit__colors-text,
.product-unit:focus-within .product-unit__colors-text,
.product-unit:hover .product-unit__colors-text {
    opacity: 0;
}

.product-unit--single .product-unit__colors-text {
    display: none;
}

.product-unit--single .product-unit__swatches-container {
    opacity: 1;
}

.product-unit--single .product-unit__swatches {
    max-width: none;
}

.product-unit--single .extra-colors {
    display: none;
}

.product-unit--single .color-swatch:not(.color-swatch--active) {
    display: none;
}

.color-swatch__value {
    display: none;
}

.product-unit--single .color-swatch__value {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--gray);
    font-size: 14px;
    white-space: nowrap;
    margin-right: 3px;
}

.product-unit__reviews {
    display: none;
}

.product-grid--gap .product-unit__reviews {
    display: flex;
    gap: 4px;
    position: static;
    left: var(--gap);
    top: var(--gap);
    z-index: 5;
    align-items: center;
    font-size: 12px;
    line-height: 1em;
    opacity: 1;
    transition: opacity 0.3s;
    color: #707070;
    padding: 5px 0px;
}
/* .product-unit__reviews .star-rating {
    filter: opacity(0.5);
    color: #707070;
    padding: 5px 0px;
}
.product-unit__reviews .star-rating {
    filter: opacity(0.5);
}
.product-unit__reviews .star-rating__number {
    padding-top: 3px;
}
.product-unit__reviews .star-rating__number {
    padding-top: 3px;
} */

.quick-view__link--circle ~ .product-unit__reviews {
    margin-top: 9px;
}

.star-background {
    display: none;
}

.product-unit:focus-within .product-unit__reviews,
.product-unit:focus .product-unit__reviews,
.product-unit:hover .product-unit__reviews {
    opacity: 1;
}
/* .product-unit__price{
    margin-left: 10px;
} */

.product-unit__price b {
    font-weight: normal;
}

.product-unit__price s {
    margin-right: 4px;
    color: var(--gray);
    text-decoration: none;
    position: relative;
}

.product-unit__price s::before {
    position: absolute;
    top: 50%;
    border-top: 1px solid;
    left: 0;
    width: 100%;
    content: '';
}

.product-unit__price s + b {
    color: var(--sale-price-color);
}

.extra-sale-active .product-unit__price s + b {
    color: var(--extra-sale-price-color);
}

.button--add-to-cart {
    transition: opacity 0.3s;
}

.product-unit__button {
    margin-top: 8px;
    display: none;
}
.featured-col__lists .product-unit__button, .cart__upsell-items .product-unit__button, .pdp__upsell .product-unit__button {
    display: block;
}
 
.product-unit__button--active {
    display: block;
}

.product-grid .product-unit .product-unit__button--active button {
    width: 100%;
    font-size: 16px;
    height: fit-content;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 7px;
    min-height: 45px;
    white-space: normal;
    flex-wrap: wrap;
    max-height: 70px;
    padding: 10px 12px;
    pointer-events: all;

}
.product-grid .product-unit .product-unit__button--active .product-unit__row .product-unit__price {
    margin: 0;
}
.product-grid .product-unit .product-unit__button--active .product-unit__row .product-unit__price s {
    color: var(--p-shadow-color-picker);
}
/* .product-unit:not(.product-unit--loaded) .button--add-to-cart {
    opacity: 0;
} */

.button-msg-adding,
.button-msg-added,
.button-msg-jw,
.button-msg-so {
    display: none;
}

.button--add-to-cart * {
    pointer-events: none;
}

.adding-to-cart .button-msg-add,
.added-to-cart .button-msg-add,
.product-unit--na .button-msg-add {
    display: none;
}

.product-unit--na .button--add-to-cart {
    opacity: 0.5;
}

.adding-to-cart .button--add-to-cart,
.added-to-cart .button--add-to-cart,
.product-unit--na .button--add-to-cart {
    pointer-events: none;
}

.adding-to-cart .button-msg-adding,
.added-to-cart .button-msg-added,
.product-unit--na.product-unit--so  .button-msg-so,
.product-unit--na.product-unit--jw .button-msg-jw {
    display: block;
}
/* .button-msg-na{
    display: none;
} */

.product-unit--quickadd {
    z-index: 1;
    justify-content: space-between;
}

.product-unit--quickadd .extra-colors {
    display: none;
}
.product-unit--quickadd .product-unit__colors--all .product-unit__swatches-container {
    max-width:100%;
    opacity: 1;
}

.product-unit--quickadd .product-unit__image-wrapper {
    border-radius: 9px;
}
.featured-col__lists .product-unit--quickadd .product-unit__image-wrapper {
    border-radius: 0px;
}
.button--add-to-cart .product-unit__row {
    padding-top: 5px;
    padding-left: 5px;
}
.card-layout2 .product-unit__wishlist .wishlist__button{
    right: 21px;
}
.card-layout2 .product-unit__colors--all .round-icon--next {
    right: -6px;
}
.card-layout2 .product-unit__title{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.card-layout2 .product-unit__swatches-container {
    max-width:93% !important;
}

@media (max-width:650px) {
    .featured-col__lists .card-layout2.product-unit {
        flex: 0 0 200px !important;
    }
    .card-layout2 .product-unit__title--wishlist {
        padding-right: 24px;
    }
}
.product-unit__size-component {
    display: none;
}

.product-unit--quickadd .product-unit__sizes {
    position: absolute;
    z-index: 11;
    display: none;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 4px;
    bottom: 60px;
    overflow: hidden;
}

.product-unit--quickadd .product-unit__sizes .product-unit__select {
    display: flex;
    flex-direction: column;
}

.product-unit--quickadd .product-unit__sizes .product-unit__select a {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #333333;
    padding: 7px 16px 9px;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
}

.product-unit--quickadd .product-unit__sizes .product-unit__select a:hover,
.product-unit--quickadd .product-unit__sizes .product-unit__select a.selected {
    background: #4B92FC;
    color: #fff;
    padding-left: 20px;
}

.product-unit--quickadd .product-unit__sizes .product-unit__select a * {
    pointer-events: none;
}

.product-unit--quickadd .product-unit__select--seleted {
    position: absolute;
    z-index: 9;
    bottom: -90px;
    border: 1px solid #000000;
    border-radius: 9px;
    width: calc(100% - 32px);
    margin: 0 auto 10px;
    left: 0;
    right: 0;
    padding: 11px 18px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 450;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    transition: all 0.3s ease;
}
.product-unit--quickadd .product-unit__select--seleted.focused {
    background: #fff;
}
.product-unit--quickadd .product-unit__size-component input:checked~label.product-unit__select--seleted{
    bottom:0px;
}
.product-unit--quickadd:hover .product-unit__size-component input~label.product-unit__select--seleted{
    bottom:0px;
}
@media screen and (max-width:649px){
    .product-unit--quickadd .product-unit__select--seleted.hovered{
        bottom:0px;
    }
    .product-unit--quickadd .product-unit__select--seleted.focused{
        bottom:0px;
    }
}

.product-unit--quickadd .product-unit__size-component { 
    display: block;
}

.product-unit--quickadd .product-unit__size-component input {
    display: none;
}

.product-unit--quickadd .product-unit__size-component input:checked ~ div {
    display: block;
    overflow-y: scroll;
    max-height: 75%;
}
.product-unit--quickadd .product-unit__size-component input:checked ~ div::-webkit-scrollbar {
    width: 3px; 
}

.product-unit--quickadd .product-unit__size-component input:checked ~ div::-webkit-scrollbar-thumb {
    background-color: #000; 
}
.product-unit--quickadd .product-unit__size-component input:checked ~ div::-webkit-scrollbar-track {
    background-color: transparent; 
    border-right:1px solid #AEAEAE ;
}

.product-unit--quickadd .product-unit__size-component input:checked ~ label::before {
    bottom: -11px;
}

.product-unit--quickadd .product-unit__select--seleted::before {
    width: calc(100% + 34px);
    height: 150px;
    content: '';
    display: block;
    left: -17px;
    position: absolute;
    /*bottom: -11px;*/
    bottom: -96px;
    z-index: -1;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 9px 9px 0 0;
}
.product-unit--quickadd .product-unit__select--seleted.focused::before {
    height: 50px;
}

.product-unit--quickadd .product-unit__select--seleted::after {
    width: 12px;
    height: 10px;
    display: block;
    position: absolute;
    content: '';
    right: 15px;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url("data:image/svg+xml,%0A%3Csvg width='12' height='10' viewBox='0 0 12 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 9.94727L0.803849 0.947265L11.1962 0.947266L6 9.94727Z' fill='black'/%3E%3C/svg%3E%0A");
}

.product-unit--quickadd .product-unit__colors--all {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 0 10px 0;
}

.product-unit--quickadd .product-unit__button .button--add-to-cart, .featured-col__lists .product-unit__button .button--add-to-cart {
    width: 100%;
    font-size: 16px;
    white-space: normal;
}
section.featured-col__lists.tabs__target .product-unit__button .button--add-to-cart,
.pdp__upsell .product-unit__button .button--add-to-cart{
    width: 93%;
}

@keyframes colorFade { 0% { background: #e5e5e5; } 100% { background: #fafafa; } }

.product-unit__placeholder-image {
    background: #ccc;
    border-radius: 9px;
    padding-top: 133.333%;
    margin-bottom: 9px;
    animation: 1.5s infinite alternate colorFade;
}

.product-unit__placeholder-title {
    background: #ccc;
    width: 80%;
    height: 20px;
    margin-bottom: 3px;
    animation: 1.5s infinite alternate colorFade;
}

.product-unit__placeholder-price {
    height: 20px;
    width: 40%;
    background: #ccc;
    animation: 1.5s infinite alternate colorFade;
}

.product-unit__placeholder-button {
    display: inline-block;
    border-radius: 9px;
    margin-top: 7px;
    background: #ccc;
    color: transparent;
    height: 42px;
    padding: 0 17px;
    font-weight: var(--font-body-weight-bold);
    line-height: 1em;
    animation: 1.5s infinite alternate colorFade;
}

.product-unit .floating-labels .product-label {
    margin-top: 0;
}
@media (max-width: 1120px) {
    .product-unit--quickadd .product-unit__select--seleted {
        padding: 8px 30px 8px 10px;
        font-size: 14px;
        margin: 0;
        width: 100%;
    }
    .product-grid .product-unit__swatches-container .product-unit__swatches {
       max-width: calc(28px * 6 );
    }
}

@media (max-width: 900px) {
  
 .card-layout2.product-unit--quickadd .product-unit__colors--all .product-unit__swatches-container {
    max-width: 88%;
    opacity: 1;
}
.card-layout2.product-unit--quickadd .product-unit__colors--all{
    max-width:100%;
}
.card-layout2 .product-unit__title--wishlist{
    padding-right: 0;
    margin-right: 30px;
}
    .product-unit--quickadd .product-unit__select--seleted {
        padding: 8px 30px 8px 10px;
        font-size: 14px;
        margin: 0;
        width: 100%;
    }
    .product-unit__swatches-container {
        opacity: 1;
    }

    .product-unit__colors--all {
        border-radius: 0;
        overflow: visible;
    }
    
    .product-unit__colors-text {
        opacity: 0;
    }

    .quick-view__link--circle {
        margin-right: -4px;
    }

    .quick-view__link--circle::before,
    .quick-view__link--circle::after {
        width: 20px;
        height: 20px;
    }

    .quick-view__link--circle img {
        width: 12px;
    }

    .product-unit .product-label--preorder {
        align-self: flex-start;
    }

    .product-unit__colors {
        margin-left: -4px;
    }
}

@media (max-width: 650px) {
    .product-grid .product-unit--quickadd .product-unit__colors--all {
        margin: 0 0 10px 0;
        min-width: 100%;
    }

    .product-unit--quickadd .product-unit__sizes {
        bottom: 35px;
    }

    .product-unit--quickadd .product-unit__select--seleted {
        padding: 8px 30px 8px 10px;
        font-size: 14px;
        margin: 0;
        width: 100%;
    }

    .product-unit--quickadd .product-unit__sizes .product-unit__select a {
        padding: 5px 10px 6px;
    }

    .product-unit--quickadd .product-unit__size-component input:checked ~ div {
        width: 100%;
    }

    .product-unit--quickadd .product-unit__select--seleted::before {
        bottom: -113px;
    }
    .product-grid .product-unit__swatches-container .product-unit__swatches {
        max-width: calc(28px * 5);
    }
    .button--add-to-cart .product-unit__row {
        display: none;
    }
    .card-layout2 .product-unit__wishlist .wishlist__button{
        right: 10px;
    }
}

	/* TS css Start */
.pdp__upsell .product-unit:nth-child(odd) .product-unit__image-wrapper {
    border-top-left-radius: 9px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 0px;
}
.pdp__upsell .product-unit:nth-child(even) .product-unit__image-wrapper {
    border-top-left-radius: 0px;
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 9px;
}
.shopify-section--pdp-featured .featured-col__lists .slider {
    column-gap: 10px;
}
.shopify-section--pdp-featured .featured-col__lists .slider .product-unit .product-unit__image-wrapper {
    border-radius: 9px;
}
.card-layout2 .ctm-card-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
}
.card-layout2 .ctm-card-content .product-unit__title {
    margin-bottom: 10px;
}
.card-layout2 .ctm-card-content .product-unit__button.product-unit__button--active {
    margin-top: auto;
}
section.featured-col__lists .product-unit .product-unit__main-content .product-unit__row
{
    display: none;
}
/* TS css End */