.slider__wrapper {
    position: relative;
}

.slider:not([data-slider-on="mobile"]) {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scroll-snap-stop: always;
}

.slider--vertical:not([data-slider-on="mobile"]) {
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.slider--vertical .slide {
    max-height: 100%;
    overflow: hidden;
}

.slider:not(.slider--mobile-scrollbar):not(.slider--scrollbar) {
    scrollbar-width: none;
}

@media (min-width: 901px) {
    .slider.slider--vertical-on-desktop {
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-snap-type: y mandatory;
    }

    .slider.slider--vertical-on-desktop .slide {
        max-height: 100%;
        overflow: hidden;
    }
}

@media (max-width: 900px) {
    .slider--mobile-no-stick {
        scroll-snap-type: none;
        scroll-behavior: auto;
        scroll-snap-stop: normal;
    }
}

.slider--scrollbar {
    padding-bottom: 10px;
    scrollbar-color: #000 transparent;
}

/* @-moz-document url-prefix() {
    .slider--scrollbar:not([data-slider-on])::after {
        content: '';
        position: absolute;
        bottom: 3px;
        left: var(--gap);
        right: var(--gap);
        border-top: 1px dashed #AEAEAE;
    }

    @media (min-width: 901px) {
        .slider--scrollbar.slider--vertical-on-desktop::after {
            border: 0;
            border-right: 1px dashed #AEAEAE;
            right: 3px;
            left: auto;
            top: 0;
            bottom: 0;
        }
    }

    @media (max-width: 900px) {
        .slider--scrollbar[data-slider-on="mobile"]::after {
            content: '';
            position: absolute;
            bottom: 3px;
            left: var(--gap);
            right: var(--gap);
            border-top: 1px dashed #AEAEAE;
        }
    }

    @media (min-width: 901px) {
        .slider--scrollbar[data-slider-on="desktop"]::after {
            content: '';
            position: absolute;
            bottom: 3px;
            left: var(--gap);
            right: var(--gap);
            border-top: 1px dashed #AEAEAE;
        }
    }
} */

.slider--scrollbar::-webkit-scrollbar {
    height: 1px;
    border-bottom: 1px dashed #AEAEAE;
}

.slider--scrollbar::-webkit-scrollbar-thumb {
    border-bottom: 1px solid #000;
    height: 1px;
    background: transparent;
    margin-top: -2px;
}

.slider--vertical.slider--scrollbar::-webkit-scrollbar {
    height: auto;
    width: 10px;
    border-top: none;
    border-left: 1px dashed #AEAEAE;
}

.slider--vertical.slider--scrollbar::-webkit-scrollbar-thumb {
    height: auto;
    width: 10px;
    margin-top: 0;
    margin-left: -2px;
}

.scrolling-back {
    scroll-behavior: initial !important;
}

.slider:not(.slider--mobile-scrollbar):not(.slider--scrollbar)::-webkit-scrollbar {
    display: none;
}

.slider--dragging {
    scroll-snap-type: initial;
    /* scroll-behavior: initial; */
}

.slider--dragging * {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.slider__nav {
    display: flex;
    gap: 10px;
}

.slider__wrapper--start > .slider__control--prev,
.slider__wrapper--end > .slider__control--next {
    opacity: 0.3;
    pointer-events: none;
}

.slider__wrapper--end.slider__wrapper--start > .slider__control {
    opacity: 0;
    pointer-events: none;
}

.slider__wrapper:not(.slider__wrapper--loaded) > .slider__control {
    opacity: 0;
    pointer-events: none;
}

.slide {
    flex: 0 0 100%;
    scroll-snap-align: start start;
}

.slide--last,
.slide:last-child {
    scroll-snap-align: end end;
}

.slider__dots {
    display: flex;
    gap: 12px;
}

.slider__dot {
    width: 12px;
    height: 12px;
    background: #b5b7b7;
    border-radius: 50%;
    cursor: pointer;
}

.slider__dot--active {
    background: #787878;
}

.slider__wrapper--buttons-side {
    overflow: hidden;
}

.slider__wrapper--buttons-side .button-tri-left,
.slider__wrapper--buttons-side .button-tri-right {
    position: absolute;
    top: 13.5vw;
    margin-top: -21px;
    transform: translateX(-101%);
    left: 0;
    z-index: 3;
    transition: transform 0.3s;
    display: block;
}

.slider__wrapper--buttons-side .button-tri-right {
    transform: translateX(101%);
    right: 0;
    left: auto;
}

.slider__wrapper--buttons-side:not(.slider__wrapper--start):focus-within .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):focus-within .button-tri-right,
.slider__wrapper--buttons-side:not(.slider__wrapper--start):focus .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):focus .button-tri-right,
.slider__wrapper--buttons-side:not(.slider__wrapper--start):hover .button-tri-left,
.slider__wrapper--buttons-side:not(.slider__wrapper--end):hover .button-tri-right {
    transform: translateX(0);
}

@media (min-width: 901px) {
    .slider--vertical-on-desktop.slider--scrollbar::-webkit-scrollbar {
        height: 1px;
        width: 1px;
        border-top: none;
        border-left: 1px dashed #AEAEAE;
    }
    
    .slider--vertical-on-desktop.slider--scrollbar::-webkit-scrollbar-thumb {
        height: 1px;
        width: 1px;
        margin-top: 0;
        margin-left: -2px;
        border: 0;
        border-left: 1px solid #000;
    }

    .slider--mobile-scrollbar {
        scrollbar-width: none;
    }

    .slider--mobile-scrollbar::-webkit-scrollbar {
        display: none;
    }
}

@media (max-width: 900px) {
    .slider[data-slider-on="mobile"] {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
    }

    .slider--mobile-scrollbar {
        padding-bottom: 5px;
    }

    /* @-moz-document url-prefix() {
        .slider--mobile-scrollbar {
            scrollbar-color: #000 transparent;
        }

        .qv__gallery::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px dashed #AEAEAE;
        }
    } */

    .slider--mobile-scrollbar::-webkit-scrollbar {
        height: 10px;
        border-bottom: 1px dashed #AEAEAE;
    }
    
    .slider--mobile-scrollbar::-webkit-scrollbar-thumb {
        border-bottom: 1px solid #000;
        height: 10px;
        background: transparent;
        margin-top: -2px;    
    }
}

@media only screen and (max-width: 768px) {
  .slider__wrapper--buttons-side .button-tri-left, .slider__wrapper--buttons-side .button-tri-right {
    display: none;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    @media (max-width: 900px) {
        *::-webkit-scrollbar {
            display: none !important;
            /* all: initial !important; */
            /* width: 4px !important; */
            /* background: #d8d8d8 !important; */
        }

        body .slider__wrapper--nav .slider-nav.content-slider__nav {
            scrollbar-width: none;
        }
        .filter__collections {
            padding-inline: 0px;
            margin-inline: 10px
        }
        .collection-categories__wrapper{
            padding-inline: 0px!important;
            margin-inline: 10px;
        }
        .slider__wrapper--nav,
        .slider__wrapper:has(.slider--scrollbar) {
            --scroll-pos: 0%;
            position: relative;
        }
        
        .slider__wrapper--nav {
            padding-bottom: 0;
        }

        .slider__wrapper--nav::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px dashed #aeaeae;
        }

        .slider__wrapper:has(.slider--scrollbar)::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            border-top: 1px dashed #aeaeae;
        }

        .slider__wrapper--nav::after {
            position: absolute;
            left: var(--scroll-pos);
            transform: translateX(calc(-1 * var(--scroll-pos)));
            bottom: 0;
            width: 20%;
            border-top: 1px solid #000;
            content: '';
            display: block !important;
        }

        body .content-slider .slider__wrapper--nav::after {
            bottom: 0;
        }

        .slider__wrapper:has(.slider--scrollbar)::after {
            position: absolute;
            left: var(--scroll-pos);
            transform: translateX(calc(-1 * var(--scroll-pos)));
            bottom: 0;
            width: 20%;
            border-top: 1px solid #000;
            content: '';
            display: block !important;
        }
        *::-webkit-scrollbar-thumb {
            all: initial !important;
            background: #7c7c7c !important;
        }
        
        *::-webkit-scrollbar-button { all: initial !important; }
        *::-webkit-scrollbar-track { all: initial !important; }
        *::-webkit-scrollbar-track-piece { all: initial !important; }
        *::-webkit-scrollbar-corner { all: initial !important; }
        *::-webkit-resizer { all: initial !important; }
    }
}