body {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.password__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.password__content {
    padding: 30px;
}

.password__text {
    flex-direction: column;
    gap: 20px;
    display: flex;
    font-size: 2.5vw;
    line-height: 1.25em;
    text-align: center;
}

.password__text br {
    display: none;
}

.password__text h1 {
    font-size: 4.5vw;
    line-height: 1.25em;
    margin: 0;
    font-weight: normal;
}

.button {
    display: block;
    appearance: none;
    border: 1px solid #fff;
    border-radius: 6px;
    background: transparent;
    cursor: pointer;
    color: #fff;
    font-family: var(--font-body-family);
    height: 36px;
    display: flex;
    align-items: center;
    padding: 0 18px;
    font-size: 1em;
}

.button span {
    transition: transform 0.3s;
}

.button:hover span {
    transform: translateY(-3px);
}

.password__form-disclaimer {
    font-style: italic;
    margin-top: 8px;
}

.password__form {
    position: absolute;
    left: 30px;
    top: 30px;
}

.password__logo {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
}

.password__logo img {
    display: block;
    width: 100%;
    height: auto;
}

.password__form #login_form {
    display: none;
}

#login_form ul {
    padding-left: 1em
}

.password__form--active #login_form {
    display: block;
}

.password__form--active #login_form ~ * {
    display: none;
}

.password__form input[type="text"],
.password__form input[type="password"] {
    border: 1px solid #fff;
    border-radius: 6px;
    background: transparent;
    appearance: none;
    font-size: 16px;
    height: 36px;
    color: #fff;
    font-family: var(--font-body-family);
    padding: 0 18px;
}

.password__form .password {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (min-width: 901px) {
    .hide-large {
        display: none !important;
    }
}

@media (max-width: 900px) {
    .hide-small {
        display: none !important;
    }

    .password__logo {
        width: 115px;
    }

    .password__text br {
        display: block;
    }

    .password__form {
        left: 0;
        bottom: 12%;
        top: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .password__text h1 {
        font-size: 32px;
        line-height: 1.15em;
    }

    .password__text {
        font-size: 18px;
        gap: 10px;
    }

    .password__form--active #login_form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}