.promo-bar__cells {
    --page: 0;
    transition: transform .3s;
    transform: translateY(calc(-40px * var(--page)));
  background: #E4DFD5;
}

.promo-bar__cells--back {
    transition: none;
    opacity: 1;
    z-index: -102;

}

body.promo-bar-hidden section.promo-bar {
  display: none
}

section.promo-bar {
    left: 0;
    right: 0;
    top: 0;
    z-index: 101;
    position: relative;
    font-size: .8125em;
    text-align: center
}

section.promo-bar:after {
    clear: both;
    content: "";
    display: table
}

section.promo-bar .countdown-timer {
    display: inline-flex;
    margin-left: 5px;
    width: 75px
}

section.promo-bar .countdown-timer span {
    flex: 0 0 1.4em;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

section.promo-bar .countdown-timer--done {
    display: none
}

section.promo-bar.promo-holiday-banner {
    cursor: pointer
}

section.promo-bar.promo-holiday-banner a {
    text-decoration: none
}

section.promo-bar.promo-holiday-banner a p {
    text-decoration: underline
}

section.promo-bar.promo-holiday-banner .promo-bar-text {
    font-size: 13px;
    font-weight: 500
}

section.promo-bar.promo-holiday-banner .promo-bar-text a {
    color: inherit
}

@media screen and (max-width: 900px) {
    section.promo-bar.promo-holiday-banner .promo-bar-text {
        font-weight: 500;
        font-size: 15px;
        padding-right: 15px;
        line-height: 1.3em
    }
}

section.promo-bar.promo-holiday-banner .promo-bar-text p {
    margin: 0;
    display: inline;
    font-size: 16px;
}

section.promo-bar.promo-holiday-banner .promo-bar-text::before {
    content: '+';
    font-size: 20px;
    margin-right: 10px;
    vertical-align: unset
}

@media screen and (max-width: 900px) {
    section.promo-bar.promo-holiday-banner .promo-bar-text::before {
        margin-right: 5px;
    }
}

section.promo-bar.promo-holiday-banner.promo-expanded .promo-bar-text::before {
    content: '-';
    line-height: 6px;
    height: 10px;
    display: inline-block
}

@media screen and (max-width: 699.9px) {
    section.promo-bar[data-show-for="desktop"] {
        display: none
    }
}

@media screen and (min-width: 700px) {
    section.promo-bar[data-show-for="mobile"] {
        display: none
    }
}

section.promo-bar>a {
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out
}

section.promo-bar>a:focus {
    text-decoration: underline
}

section.promo-bar div.promo-bar-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 21px;
    padding: 10px 0;
    letter-spacing: 0.05em;
    white-space: nowrap;
    height: 40px;
    text-align: center;
    font-size: 16px;
}

section.promo-bar div.promo-bar-text p {
    display: inline-block;
    margin: 0;
    line-height: 1.2em;
    text-decoration: none;
}

section.promo-bar div.promo-bar-text a {
    border-bottom: 1px solid;
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 699.9px) {
    section.promo-bar div.promo-bar-text {
        font-weight: 500;
        font-size: 15px
    }
}

@media screen and (max-width: 350px) {
    section.promo-bar div.promo-bar-text {
        font-size: 13px
    }
}

section.promo-bar.size-large {
    font-size: .9375em
}

section.promo-bar.size-large div.promo-bar-text {
    padding: 16px 1.875em
}

section.promo-bar.placement-bottom {
    position: fixed;
    top: auto;
    bottom: 0px;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0)
}

section.promo-bar span.signup-bar-text {
    display: inline-block;
    vertical-align: middle;
    padding: 6px 0
}

section.promo-bar span.signup-bar-text p {
    margin: 0
}

section.promo-bar.signup-bar {
    display: none;
    padding: 6px 1.875em;
    position: relative
}

section.promo-bar.signup-bar.visible {
    display: block
}

section.promo-bar.signup-bar.visible.force {
    display: block !important
}

@media screen and (max-width: 699.9px) {
    section.promo-bar.signup-bar.visible[data-show-for="desktop"] {
        display: none
    }
}

@media screen and (min-width: 700px) {
    section.promo-bar.signup-bar.visible[data-show-for="mobile"] {
        display: none
    }
}

section.promo-bar.signup-bar .popup-email {
    margin: 0 6px;
    padding: 6px 0;
    max-width: 240px
}

section.promo-bar.signup-bar .popup-email .errors {
    display: none
}

section.promo-bar.signup-bar .popup-email p {
    margin-bottom: 0;
    font-size: .8125em;
    line-height: 38px
}

section.promo-bar.signup-bar .popup-close span.icon-text {
    top: 50%;
    right: 0px;
    padding: .9375em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

section.promo-bar.signup-bar .popup-close span.icon-text span.icon {
    top: 0
}

section.promo-bar.signup-bar .errors {
    padding: 10px 0;
    margin-bottom: 8px;
    border-bottom: 1px solid var(--primary-text-color);
    font-style: italic
}

.hide-promo-bar {
    position: absolute;
    top: 50%;
    right: 0;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    text-indent: -200px;
    overflow: hidden;
    display: block;
    z-index: 50
}

.hide-promo-bar::before,
.hide-promo-bar::after {
    width: 10px;
    height: 0;
    border-top: 1px solid var(--preorder-hgt-t);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg)
}

.hide-promo-bar::after {
    transform: translate(-50%, -50%) rotate(-45deg)
}


@media screen and (max-width: 900px) {
  .fancybox-navigation {
    display: none;
  }
}
body.promo-bar-hidden header.promo-bar {
  display: none;
}

header.promo-bar {
  left: 0;
  right: 0;
  top: 0;
  z-index: 101;
  position: relative;
  *zoom: 1;
  font-size: 0.8125em;
  font-family: "proxima-nova";
  text-align: center;
}
header.promo-bar:after {
  clear: both;
  content: "";
  display: table;
}
header.promo-bar .hide-promo-bar {
  position: absolute;
  top: 50%;
  right: 0;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  text-indent: -200px;
  overflow: hidden;
  display: block;
  z-index: 50;
}
header.promo-bar .hide-promo-bar::before, header.promo-bar .hide-promo-bar::after {
  width: 10px;
  height: 0;
  border-top: 1px solid #000;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
header.promo-bar .hide-promo-bar::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
header.promo-bar.promo-holiday-banner {
  cursor: pointer;
}
header.promo-bar.promo-holiday-banner a {
  text-decoration: none;
}
header.promo-bar.promo-holiday-banner a p {
  text-decoration: underline;
}
header.promo-bar.promo-holiday-banner .promo-bar-text {
  font-size: 13px;
  font-weight: 500;
}
header.promo-bar.promo-holiday-banner .promo-bar-text a {
  color: inherit;
}
@media screen and (max-width: 900px) {
  header.promo-bar.promo-holiday-banner .promo-bar-text {
    font-weight: 500;
    font-size: 15px;
  }
}
header.promo-bar.promo-holiday-banner .promo-bar-text p {
  margin: 0;
  display: inline;
}
header.promo-bar.promo-holiday-banner .promo-bar-text::before {
  content: "+";
  font-size: 20px;
  margin-right: 10px;
  vertical-align: middle;
}
header.promo-bar.promo-holiday-banner.promo-expanded .promo-bar-text::before {
  content: "-";
  line-height: 6px;
  height: 10px;
  display: inline-block;
}
@media screen and (max-width: 699.9px) {
  header.promo-bar[data-show-for=desktop] {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  header.promo-bar[data-show-for=mobile] {
    display: none;
  }
}
header.promo-bar > a {
  display: block;
  text-decoration: none;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
header.promo-bar > a:focus {
  text-decoration: underline;
}
header.promo-bar div.promo-bar-text {
  display: block;
  font-size: 13px;
  line-height: 21px;
  padding: 10px 1.875em;
  letter-spacing: 0.05em;
  white-space: nowrap;
  height: 40px;
}
header.promo-bar div.promo-bar-text p {
  display: inline-block;
  margin: 0;
  line-height: 1.2em;
  text-decoration: none;
}
header.promo-bar div.promo-bar-text a {
  border-bottom: 1px solid;
  color: inherit;
  text-decoration: none;
}
@media screen and (max-width: 699.9px) {
  header.promo-bar div.promo-bar-text {
    font-weight: 500;
    font-size: 15px;
  }
}
@media screen and (max-width: 350px) {
  header.promo-bar div.promo-bar-text {
    font-size: 13px;
  }
}
header.promo-bar.size-large {
  font-size: 0.9375em;
}
header.promo-bar.size-large div.promo-bar-text {
  padding: 16px 1.875em;
}
header.promo-bar.placement-bottom {
  position: fixed;
  top: auto;
  bottom: 0px;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
header.promo-bar span.signup-bar-text {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 0;
}
header.promo-bar span.signup-bar-text p {
  margin: 0;
}
header.promo-bar.signup-bar {
  display: none;
  padding: 6px 1.875em;
  position: relative;
}
header.promo-bar.signup-bar.visible {
  display: block;
}
header.promo-bar.signup-bar.visible.force {
  display: block !important;
}
@media screen and (max-width: 699.9px) {
  header.promo-bar.signup-bar.visible[data-show-for=desktop] {
    display: none;
  }
}
@media screen and (min-width: 700px) {
  header.promo-bar.signup-bar.visible[data-show-for=mobile] {
    display: none;
  }
}
header.promo-bar.signup-bar .popup-email {
  margin: 0 6px;
  padding: 6px 0;
  max-width: 240px;
}
header.promo-bar.signup-bar .popup-email .errors {
  display: none;
}
header.promo-bar.signup-bar .popup-email p {
  margin-bottom: 0;
  font-size: 0.8125em;
  line-height: 38px;
}
header.promo-bar.signup-bar .popup-close span.icon-text {
  top: 50%;
  right: 0px;
  padding: 0.9375em;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
header.promo-bar.signup-bar .popup-close span.icon-text span.icon {
  top: 0;
}
header.promo-bar.signup-bar .errors {
  padding: 10px 0;
  margin-bottom: 8px;
  border-bottom: 1px solid #4f4f4f;
  font-style: italic;
}

.image-container {
  position: relative;
}
.image-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  font-family: "object-fit: cover";
}
.image-container img.hover-image {
  opacity: 0;
  z-index: 2;
  transition: opacity 0.3s;
}
.image-container img.hover-image:hover {
  opacity: 1;
}

.mfp-content .promo-popup {
  display: flex;
  padding: 0;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .mfp-content .promo-popup {
    flex-direction: column;
    height: 100%;
  }
}

@media screen and (max-width: 600px) {
  body.template-index.promo-open {
    overflow: hidden;
  }
}



header.promo-bar {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: -o-transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.4s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  /* improves performance issues on mobile*/
}


.menu-is-open {
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .menu-is-open .header-container,
.menu-is-open #shopify-section-header {
    display: block !important;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-close-area {
    box-shadow: none !important;
    border: 0;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel {
    border: 0;
    padding: 0 33px;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel .snize-clear-button-container {
    background: transparent;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel input.snize-mobile-input-style {
    background: #fff;
    margin-bottom: 0;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel .snize-search {
    background: transparent;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel button.snize-close-button-arrow {
    margin: 5px 0 0;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-mobile-top-panel button.snize-clear-button {
    margin: 10px 0 0;
  }
  .menu-is-open .snize-page:nth-last-child(2) {
    margin-bottom: 100px;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile li.snize-label {
    background: #fff;
  }
  .menu-is-open div.snize-ac-results.snize-ac-results-mobile {
    top: 119px !important;
    position: fixed !important;
  }
  .menu-is-open.promo-bar-hidden div.snize-ac-results.snize-ac-results-mobile {
    top: 79px !important;
  }
}

body.promo-bar-hidden .main-content {
  margin-top: 70px !important;
}
@media screen and (max-width: 900px) {
  body.promo-bar-hidden .main-content {
    margin-top: 61px !important;
  }
}

.icon-ui-search,
.icon-ui-bag {
  height: 32px !important;
  width: 32px !important;
}

.icon-ui-menu {
  display: none;
  height: 32px !important;
  width: 32px !important;
}

.icon-ui-menu.active {
  display: block;
}

.promo-bar-text-container {
  height: 40px;
  overflow: hidden;
  background: #f6f6f6;
}
.promo-bar-text-container .promo-bar-text-cell {
  transition: transform 0.4s;
}
.promo-bar-text-container.alt .promo-bar-text-cell {
  transform: translateY(-40px);
}


body .holiday-banner-dates {
  background: #EAE1CF;
  color: #000;
  display: none
}

body .holiday-banner-dates .page-width {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  max-width: 600px !important
}

@media screen and (max-width: 900px) {
  body .holiday-banner-dates .page-width {
      display: block;
      padding: 0;
      overflow: hidden
  }
}

.holiday-banner-date {
  display: flex;
  align-items: center
}

.holiday-banner-date.inactive {
  opacity: 0.3
}

@media screen and (max-width: 900px) {
  .holiday-banner-date {
      margin: 20px auto;
      max-width: 400px;
      padding: 0 30px
  }
}

.date-box {
  border: 1px solid #000;
  border-radius: 15%;
  width: 52px;
  flex: 0 0 52px;
  height: 50px;
  margin-right: 20px;
  overflow: hidden;
  background: #000
}

.date-box-month {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.15em;
  line-height: 14px;
  margin: -2px -5px 0;
  padding-top: 2px
}

.date-box-day {
  font-weight: bold;
  background: #eae1cf;
  font-size: 33px;
  text-align: center;
  line-height: 35px;
  height: 35px
}

@media screen and (max-width: 600px) {
  .date-box-day {
      font-size: 26px
  }
}

.banner-date-text {
  line-height: 1.2em;
  white-space: nowrap
}

.banner-date-text strong {
  display: block
}
