.header-banner {
    border-style: dashed;
    border-color: #AEAEAE;
    border-width: 1px 0;
    padding: var(--gap) 0;
    margin: var(--gap) var(--gap) 0;
}

.header-banner a {
    text-decoration: none;
}

.header-banner--text-banner {
    display: flex;
    gap: var(--gap);
}

.header-banner__text {
    font-size: 20px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (max-width: 900px) {
    .header-banner__text {
        font-size: 24px;
    }
}

@media (max-width: 650px) {
    .header-banner .button {
        display: flex;
        margin-top: var(--gap);
    }

    .header-banner--text-banner {
        display: block;
    }
}