.shopify-section--col-filter {
    padding: var(--gap);
    position: sticky;
    top: 0;
    z-index: 15;
    background: #fff;
}

.collection-subcategories {
    display: flex;
    gap: var(--gap);
}

.collection-filters {
    display: none;
}

.collection-filters__control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.collection-filter__activators {
    display: flex;
    gap: 20px;
}

.collection-view {
    display: flex;
    align-items: center;
    margin-right: -9px;
}

.col-view__text {
    margin-right: 5px;
}

.col-view__button {
    background: transparent;
    padding: 0;
    display: inline-block;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #aeaeae;
    transition: color 0.3s;
}

.col-view__button:hover {
    color: #000;
}

.shopify-section--col-filter:not(.col-filter--larger-active) .col-view__button--more,
.col-filter--larger-active .col-view__button--less {
    text-decoration: underline;
    color: #000;
}

.col-filter--larger-active ~ .shopify-section--product-grid .product-grid {
    --desktop-columns: 3;
    --tablet-columns: 2;
    --mobile-columns: 1;
}

@media (max-width: 900px) {
    .collection-subcategories  {
        flex: 0 0 100%;
        order: 5;
    }
}