.shopify-section--content-blocks {
    margin: var(--section-gap) 0;
}

.content-blocks {
    padding: 0 var(--gap);
    display: flex;
}

.content-blocks--top {
    align-items: flex-start;
}

.content-blocks--gap {
    gap: var(--gap);
}

.content-block,
.content-block a {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.content-blocks__title {
    text-align: center;
    font-size: 36px;
    margin: 0 0 30px;
}

.content-blocks__button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.content-blocks--media-text .content-block,
.content-blocks--media-text .content-block a {
    flex-direction: column-reverse;
}

.content-block__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

@media (max-width: 900px) {
    .content-blocks--mobile-grid .content-block__info {
        display: none;
    }
}

@media (max-width: 900px) {
    .content-blocks--mobile-grid .content-block__info {
        display: none;
    }
}


.content-block__title h3,
.content-block__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
}

.content-block__title a {
    text-decoration: none;
}

.content-block__description {
    padding-right: 50px;
    line-height: 1.5em;
}

.content-block__media {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.content-block__media .ratio-container {
    position: static;
}

.content-blocks--gap .content-block__media {
    border-radius: 9px;
}

.content-block__media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modular-block, .modular-section__wrap {
   display: none;
}
.content-block a {
    text-decoration: none;
}

.floating-link .span-simulating-button {
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    box-sizing: inherit;
    --button-brd: #000;
    height: 42px;
    line-height: 1em;
    white-space: nowrap;
    border: 1px solid var(--button-brd);
    display: inline-flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--button-clr);
    background: var(--button-bg);
    border-radius: 9px;
    font-size: 16px;
    font-weight: var(--font-body-weight-bold);
    padding: 0 17px;
    text-align: center;
    cursor: pointer;
    transition: color .3s,border .3s,background .3s,transform .3s;
    --button-bg: #fff;
    --button-clr: #000;
    margin-right: 15px;
}

@media (min-width: 901px) {
    .content-blocks:not(.content-blocks--gap) .content-blocka a:first-child .content-block__media {
        border-radius: 9px 0 0 9px;
    }
    
    .content-blocks:not(.content-blocks--gap) .content-blocka a:last-child .content-block__media {
        border-radius: 0 9px 9px 0;
    }
}

@media only screen and (max-width: 992px) {
    .content-blocks--mobile-scrollable {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
        padding-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .content-blocks__title {
        font-size: 24px;
        margin: 0 0 20px;
    }

    .content-blocks:not(.content-blocks--mobile-stacked):not(.content-blocks--gap) .content-block a:first-child .content-block__media {
        border-radius: 9px 0 0 9px;
    }
    
    .content-blocks:not(.content-blocks--mobile-stacked):not(.content-blocks--gap) .content-block a:last-child .content-block__media {
        border-radius: 0 9px 9px 0;
    }

    .content-blocks--mobile-stacked .content-block__media {
        border-radius: 9px;
    }
}

@media only screen and (max-width: 900px) {
    .content-blocks--mobile-stacked {
        flex-direction: column;
        gap: 30px;
    }

    .content-blocks--mobile-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 30px;
    }

    .content-blocks--mobile-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 10px;
        row-gap: 30px;
    }

    .content-block__title {
        font-size: 24px;
    }

    .content-blocks--mobile-scrollable .content-block,
    .content-blocks--mobile-scrollable .content-block a {
      flex: 0 0 60%;
    }
}

@media only screen and (max-width: 650px) {
    .content-blocks--mobile-scrollable .content-block,
    .content-blocks--mobile-scrollable .content-block a {
        flex: 0 0 75%;
      }
}

.hide--desktop {
    display: none !important;
  }

  @media (max-width: 900px) {
    .hide--desktop {
      display: block !important;
    }

    .hide--mobile {
      display: none !important;
    }
  }