.community-gallery-content-block__container {
    padding: 10px;
    margin: 0 auto;
}

.community-gallery-content-block__container > * {
    flex-wrap: wrap;
    overflow: hidden;
    border-radius: 9px;
    width: 47%;
    margin: 1.25%;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.community-gallery-content-block__container > * >*:first-child {
    margin-bottom: var(--gap);
}

.community-gallery-content-block__container .video-container {
    border-radius: 9px;
}

.curalate-gallery__video video,
.curalate-gallery__lifestyle-image img {
    width: 100%;
    border-radius: 9px;
}

.curalate-gallery__quote {
    padding: 12px;
    border-radius: 9px;
    border: 1px dashed orange;
    line-height: 130%;
    position: relative;
}

.curalate-gallery__quote-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.curalate-gallery__quote-reviewer {
    bottom: 12px;
    left: 12px;
    position: absolute;
}

@media (max-width: 900px) {
    .community-galery-content-block__container {
        display: block;
    }

    .community-gallery-content-block__container > * {
        width: 97%;
        margin-bottom: var(--gap);
    }
}