.shopify-section--featured-collections {
    margin: var(--section-gap) 0;
}

.featured-col__lists .product-unit {
    flex: 0 0 19.20%;
}

.featured-col__nav {
    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: var(--gap);
}

.featured-col__title {
    margin: 0 var(--gap) 20px;
}

.tabs__content {
    overflow: hidden;
}

.shopify-section--pdp-featured {
    margin: calc(2 * var(--section-gap)) 0;
}

.pdp-featured-collection-title {
    padding: 0 var(--gap);
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    margin-bottom: var(--gap);
}

.shopify-section--pdp-featured .product-unit:not(.product-unit--loaded) .product-unit__image img {
    display: none;
}

.shopify-section--pdp-featured .slider__wrapper {
    padding: 0 var(--gap);
}

@media (max-width: 1180px) {
    .featured-col__lists .product-unit {
        flex: 0 0 25%;
    }
}

@media (max-width: 900px) {
    .pdp-featured-collection-title {
        font-size: 24px;
    }

    .shopify-section--pdp-featured {
        margin: var(--section-gap) 0;
    }

    .featured-col__lists .product-unit {
        flex: 0 0 33.333vw;
    } 
}

@media only screen and (max-width: 650px) {
    .featured-col__lists .product-unit {
        flex: 0 0 43vw;
    } 
}

@media only screen and (max-width: 576px) {
  .featured-col__nav {
    gap: 10px;
  }

  .transparent-button {
    font-size: 24px;
  }
}

@media only screen and (max-width: 359px) {
  .featured-col__nav {
    gap: 5px;
  }

  .transparent-button {
    font-size: 20px;
  }
}


/* pdp grid changes */
.shopify-section--pdp-featured .featured-col__lists .product-unit {
    flex: 0 0 19.5%;
}
@media (min-width: 2200px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 19.6%;
    }
}
@media (max-width: 1550px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 19.4%;
    }
}
@media (max-width: 1180px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 24.2%;
    }
}
@media (max-width: 900px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 31.533vw;
    }
}
@media (max-width: 650px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 47vw;
    }
}
@media (max-width: 475px) {
    .shopify-section--pdp-featured .featured-col__lists .product-unit {
        flex: 0 0 46vw;
    }
}
