.shopify-section--content-blocks {
    margin: var(--section-gap) 0;
}

.content-blocks {
    padding: 0 var(--gap);
    display: flex;
}

.content-blocks--top {
    align-items: flex-start;
}

.content-blocks--gap {
    gap: var(--gap);
}

.content-block {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.content-blocks__title {
    text-align: center;
    font-size: 36px;
    margin: 0 0 30px;
}

.content-blocks__button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.content-blocks--media-text .content-block {
    flex-direction: column-reverse;
}

.content-block__info {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.content-block__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
}

.content-block__title a {
    text-decoration: none;
}

.content-block__description {
    padding-right: 50px;
    line-height: 1.5em;
}

.content-block__media {
    position: relative;
    overflow: hidden;
    flex: 1;
}

.content-block__media .ratio-container {
    position: static;
}

.content-blocks--gap .content-block__media {
    border-radius: 9px;
}

.content-block__media img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.modular-block, .modular-section__wrap {
   display: none;
}
@media (min-width: 901px) {
    .content-blocks:not(.content-blocks--gap) .content-block:first-child .content-block__media {
        border-radius: 9px 0 0 9px;
    }
    
    .content-blocks:not(.content-blocks--gap) .content-block:last-child .content-block__media {
        border-radius: 0 9px 9px 0;
    }
}

@media only screen and (max-width: 992px) {
    .content-blocks--mobile-scrollable {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        -ms-overflow-style: none;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        scroll-snap-stop: always;
        padding-bottom: 20px;
    }
}

@media (max-width: 900px) {
    .content-blocks__title {
        font-size: 24px;
        margin: 0 0 20px;
    }

    .content-blocks:not(.content-blocks--mobile-stacked):not(.content-blocks--gap) .content-block:first-child .content-block__media {
        border-radius: 9px 0 0 9px;
    }
    
    .content-blocks:not(.content-blocks--mobile-stacked):not(.content-blocks--gap) .content-block:last-child .content-block__media {
        border-radius: 0 9px 9px 0;
    }

    .content-blocks--mobile-stacked .content-block__media {
        border-radius: 9px;
    }
}

@media only screen and (max-width: 900px) {
    .content-blocks--mobile-stacked {
        flex-direction: column;
        gap: 30px;
    }

    .content-block__title {
        font-size: 24px;
    }

    .content-blocks--mobile-scrollable .content-block {
      flex: 0 0 60%;
    }
}

@media only screen and (max-width: 650px) {
    .content-blocks--mobile-scrollable .content-block {
        flex: 0 0 75%;
      }
}