.shopify-section--more-links {
    margin: var(--section-gap) 0;
    padding: 0 var(--gap);
}

.more-links__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    margin-bottom: var(--gap);
}

.more-link {
    display: flex;
    gap: 25px;
    flex: 0 0 50%;
    min-width: 0;
    padding: var(--gap) 0;
    text-decoration: inherit;
    color: inherit;
}

.more-link:not(:first-child) {
    border-left: 1px dashed #aeaeae;
    padding-left: var(--gap);
}

.more-link__image {
    flex: 0 0 250px;
    border-radius: 9px;
    overflow: hidden;
}

.more-link__info {
    flex: 1;
    padding-right: var(--gap);
}

.more-link__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    margin-bottom: 5px;
}

.more-links {
    display: flex;
    border-top: 1px dashed #aeaeae;
    border-bottom: 1px dashed #aeaeae;
}

@media (max-width: 900px) {    
    .more-links,
    .more-link {
        gap: 8px;
    }

    .more-links__title,
    .more-link__title {
        font-size: 24px;
    }

    .more-links {
        overflow: auto;
    }

    .more-link {
        margin-bottom: 25px;
        flex-direction: column;
        flex: 0 0 60%;
    }

    .more-link__image {
        flex: 0 0 calc((100vw - 45px)/2);
        height: calc((100vw - 45px)/2)
    }

    .more-link__image .ratio-container {
        padding-top: 100%!important;
    }

    .more-link:not(:first-child) {
        border-left: none;
        padding-left: 0; 
    }
}