.shopify-section--blog-text-product-feature {
    margin: calc(var(--section-gap) / 2) 0;
    padding: 0 calc(var(--gap) / 2);
}

.blog-text-product-feature__mobile {
    grid-column: 1 / -1;
    text-align: center;
    border-radius: 9px;
    padding: 40px 12px;
    display: none;
}

.blog-text-product-feature__mobile-text {
    text-align: center;
    padding: 12px 0;
    display: none;
}

.blog-text-product-feature__block-text {
    padding: 40px;
    align-items: left;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    border-radius: 9px;
}

.blog-image-text-feature__title {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    text-decoration: none;
}

@media (max-width: 900px) {
    .blog-text-product-feature__blocks {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .blog-text-product-feature__mobile,
    .blog-text-product-feature__mobile-text {
        display: block;
    }

    .blog-text-product-feature__block-text {
        background: transparent!important;
        height: 100%;
        align-items: center;
        padding: 12px 0px;
        text-align: center;
        height: auto!important;
    }

    .blog-text-product-feature__block-text .blog-text-product-feature__block-text-container {
        display: none;
    }

    .blog-text-product-feature__block-text-container {
        grid-column: span 2!important;
    }
}