.shopify-section--nav-hero {
    position: relative;
    margin: var(--gap);
}

.nav-hero__media {
    border-radius: 9px;
    overflow: hidden;
}

.nav-hero__nav {
    padding: var(--gap);
    background: rgba(255, 255, 255, 0.75);
    gap: var(--gap);
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 9px;
    z-index: 5;
}

.nav-hero__item {
    width: 130px;
    text-decoration: none;
    cursor: pointer;
}

.nav-hero__item-image {
    padding-top: 66.667%;
    position: relative;
    border-radius: 9px;
    overflow: hidden;
    background: #9e9e9e;
}

.nav-hero__item-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 9px;
    transition: border-color 0.3s;
}

.nav-hero__item:hover .nav-hero__item-image::after {
    border-color: #000;
}

.nav-hero__item-image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-hero__item-title {
    margin-top: 6px;
    font-weight: var(--font-body-weight-bold);
    text-align: center;
    line-height: 1.25em;
}

@media (max-width: 900px) {
    .nav-hero__nav {
        flex-direction: row;
        transform: none;
        bottom: 0;
        left: 0;
        top: auto;
        position: relative;
        padding: 0;
        margin-top: var(--gap);
    }

    .nav-hero__item {
        flex: 1;
    }

    .nav-hero__media {
        position: relative;
        overflow: hidden;
    }
    
    .nav-hero__media .img-sizer + .video-container {
        border-radius: 0 0 9px 9px;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%;
    }
}

@media (max-width: 650px) {
    .slider__wrapper--nav::after,
    .content-slider__nav-slide.slide--selected::after {
        display: none;
    }

    @-moz-document url-prefix() {
        .content-slider .slider__wrapper--nav::after {
            display: block;
            bottom: 3px;
        }
    }

    .content-slider .slider.content-slider__nav {
        scrollbar-width: thin;
        scrollbar-color: #000 transparent;
        z-index: 4;
    }

    .content-slider .slider__wrapper .slider.content-slider__nav {
        margin: 0 var(--gap);
    }

    .content-slider__nav-slide:first-child {
        padding-left: 0;
    }

    .content-slider__nav-slide:last-child {
        padding-right: 0;
    }

    body .content-slider .slider__wrapper .slider.content-slider__nav::-webkit-scrollbar {
        height: 1px;
        border-bottom: 1px dashed #AEAEAE;
        display: block;
    }

    body .content-slider .slider__wrapper .slider.content-slider__nav::-webkit-scrollbar-thumb {
        border-bottom: 1px solid #000;
        height: 1px;
        background: transparent;
        margin-top: -2px;
        display: block;
    }
}