.shopify-section--promo-col {
    margin: var(--section-gap) 0;
}

.promo-collection {
    display: flex;
    flex-wrap: wrap;
    padding: 65px var(--gap);
    gap: var(--gap);
}

.promo-collection__title {
    flex: 0 0 100%;
    min-width: 0;
    font-size: 58px;
    text-align: center;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    margin-bottom: var(--gap);
}

.promo-collection__description {
    margin-top: calc(-1 * var(--gap));
    text-align: center;
    margin-bottom: var(--gap);
    flex: 0 0 100%;
}

.promo-collection__products {
    flex: 1;
    display: grid;
    gap: var(--gap);
    min-width: 10px;
    align-self: flex-start;
    position: sticky;
    top: calc(42px + var(--gap));
}

.promo-collection__media {
    flex: 1;
    min-width: 10px;
    position: relative;
    border-radius: 9px;
    overflow: hidden;
}

.promo-collection__media .ratio-container {
    position: static;
}

.promo-collection .product-unit__image-wrapper {
    border-radius: 9px;
    overflow: hidden;
}

.promo-collection__products-all {
    display: flex;
    justify-content: center;
}

.promo-collection__products-all-inner {
    padding-top: 133.33%;
    border-radius: 9px;
    background: #f7f7f7;
    display: block;
    width: 100%;
    position: relative;
    align-self: flex-start;
}

.promo-collection__products-all-inner span {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    white-space: nowrap;
}

@media (max-width: 992px) {
    .promo-collection__products {
      display: flex;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;
      scroll-snap-stop: always;
      gap: 10px;
      position: relative;
      padding-bottom: 20px;
      top: 0;
      flex: 0 0 100%;
    }

    .promo-collection__products:not(:last-child) {
      margin-bottom: 10px;
    }

    .promo-collection__products-all,
    .promo-collection__products .product-unit {
        width: 175px;
        flex-shrink: 0;
    }

    .promo-collection__products-all-inner span {
        font-size: 24px;
    }
}

@media (max-width: 576px) {
  .promo-collection {
    padding: 45px var(--gap);
  }
  
  .promo-collection__title {
    font-size: 32px;
    line-height: 35px;
  }
}