.content-slider {
    padding: 0 var(--gap);
}

.content-slider__main-slide {
    padding: 65px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.content-slider__main-text {
    max-width: 610px;
    margin: 0 auto;
    font-size: 36px;
    line-height: 1.3em;
    letter-spacing: -0.02em;
    min-width: 0;
}

.content-slider__main-media {
    flex: 0 0 50%;
    display: flex;
    min-width: 0;
    border-radius: 9px;
    overflow: hidden;
}

.content-slider__media {
    flex: 1;
    min-width: 0;
}

.content-slider__main-media + .content-slider__main-text {
    padding-right: 50px;
}

.content-slider__nav {
    position: relative;
    justify-content: space-between;
}

.content-slider__nav::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px dashed #aeaeae;
    content: '';
}

.content-slider__nav-slide {
    flex: 0 0 auto;
    font-size: 48px;
    line-height: 1em;
    letter-spacing: -0.02em;
    color: var(--gray);
    cursor: pointer;
    transition: color 0.3s;
    display: flex;
    align-items: center;
    gap: 6px;
    height: 90px;
    position: relative;
}

.content-slider__nav-slide::before {
    content: '';
    width: 22px;
    height: 22px;
    display: inline-block;
    border: 1px solid #aeaeae;
    transition: border-color 0.3s, background 0.3s;
    border-radius: 50%;
}

.content-slider__nav-slide:hover,
.content-slider__nav-slide.slide--selected {
    color: #000;
}

.content-slider__nav-slide:hover::before {
    border-color: #000;
}

.content-slider__nav-slide.slide--selected::before {
    background: #000;
    border-color: #000;
}

.content-slider__nav-slide.slide--selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    right: 0;
    border-top: 1px solid #000;
}

@media (max-width: 1180px) {
    .content-slider__nav-slide {
        font-size: 36px;
    }
}

@media (max-width: 900px) {
    .content-slider {
        padding: 0;
    }

    .content-slider__nav::before {
        display: none;
    }

    .content-slider .slider__wrapper--nav {
        position: relative;
        margin: 0 var(--gap);
    }

    .content-slider .slider__wrapper .slider.content-slider__nav {
        margin: 0;
    }

    .content-slider__nav-slide {
        font-size: 24px;
        padding: 0 var(--gap);
        height: 52px;
        gap: 4px;
        position: relative;
    }

    .content-slider__nav-slide::before {
        width: 14px;
        height: 14px;
    }

    .content-slider__nav-slide.slide--selected::after {
        position: absolute;
        content: '';
        bottom: 0;
        border-top: 1px solid #000;
        left: var(--gap);
        right: 0;
        z-index: 2;
    }

    content-slider__nav-slide.slide--selected:last-child:after {
        right: var(--gap);
    }

    .content-slider__main-slide {
        padding: 40px var(--gap);
    }

    .content-slider__main-slide {
        flex-direction: column-reverse;
        gap: 25px;
        justify-content: center;
    }

    .content-slider__main-slide .content-slider__main-text {
        font-size: 24px;
        padding: 0 8px;
    }

    .content-slider__main-media {
        width: 100%;
        flex: initial;
    }
}