.shopify-section--text-logos {
    margin: 0 var(--gap);
    border-bottom: 1px dashed #aeaeae;
    display: flex;
}

.shopify-section--text-logos:not(:first-child) {
    margin-top: calc(-1 * var(--section-gap));
}

.text-and-logos__text {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    padding: var(--gap) 60px;
}

.text-and-logos__inner-text {
    max-width: 600px;
    width: 100%;
}

.text-and-logos__logos {
    border-left: 1px dashed #aeaeae;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    flex: 1;
}

.text-and-logos__inner-logos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    width: 100%;
    max-width: 600px;
}

.logo-block .ratio-container img {
    object-fit: contain;
}

.text-and-logos__title {
    font-size: 48px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
    margin-bottom: 25px;
}

@media (max-width: 900px) {
    .shopify-section--text-logos:not(:first-child) {
        margin-top: var(--section-gap);
    }

    .shopify-section--text-logos {
        flex-direction: column;
        border: 0;
        gap: 20px;
    }

    .text-and-logos__logos {
        border: 0;
        background: #f7f7f7;
        border-radius: 6px;
        padding: 40px 20px;
    }

    .text-and-logos__text {
        padding: 0;
    }

    .text-and-logos__inner-text {
        text-align: center;
        max-width: 80%;
    }

    .text-and-logos__title {
        font-size: 24px;
        margin-bottom: 15px;
    }
}