.shopify-section--single-product {
    padding: 0 var(--gap);
    margin-top: var(--gap);
}

.pdp__grid {
    position: relative;
    display: grid;
    grid-template-columns: 57% 1fr;
    gap: 65px;
}

.pdp__title {
    font-size: 36px;
    line-height: 1em;
    margin: 0;
    letter-spacing: -0.02em;
    font-weight: normal;
}

.pdp__header {
    border-bottom: 1px dashed #aeaeae;
}

.pdp__info {
    padding: 30px 40px 0 0;
}

.pdp__breadcrumbs {
    position: absolute;
    top: var(--gap);
    left: 57%;
    transform: translateX(calc(-100% - 20px));
    display: flex;
    gap: 10px;
    font-size: 14px;
    z-index: 2;
}

.pdp__breadcrumbs a {
    color: #858585;
    text-decoration: none;
}

.pdp__meta {
    display: grid;
    grid-template-columns: 1fr auto;
    font-size: 14px;
}

.pdp__price {
    grid-row: 1 / span 2;
    grid-column: 2;
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: var(--font-body-weight-bold);
}

.pdp__feat-col,
.pdp__reviews {
    grid-column: 1;
}

.pdp__reviews {
    display: flex;
    gap: 5px;
    align-items: center;
}

.pdp__submit {
    border-bottom: 1px dashed #aeaeae;
}

.button--pdp__submit {
    display: flex;
}

.pdp__swatches {
    display: flex;
    flex-wrap: wrap;
    gap: 9px;
}

.pdp__labels {
    display: none;
}

@media (max-width: 900px) {
    .pdp__breadcrumbs {
        position: relative;
        order: -2;
        transform: none;
        left: auto;
        top: auto;
    }

    .pdp__grid {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .shopify-product-form,
    .pdp__info {
        display: contents;
    }

    .pdp__header {
        order: -1;
        border: 0;
    }
}