.shopify-section--product-features {
    margin: calc(2 * var(--section-gap)) 0;
    padding: 0 var(--gap);
}

.pdp-features {
    gap: var(--gap);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.pdp-features__info {
    background: #e4dfd5;
    border-radius: 9px;
    overflow: hidden;
    padding: 30px;
}

.pdp-features__title {
    font-size: 48px;
    line-height: 1.2em;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}

.pdp-features__list {
    gap: var(--gap);
    display: flex;
    flex-direction: column;
}

.pdp-features__list:only-child {
    flex-direction: row;
}

.pdp-feature__content {
    padding-top: 8px;
    display: none;
}

.pdp-feature--active .pdp-feature__content {
    display: block;
}

.pdp-feature__title {
    border-radius: 9px;
    border: 1px solid #aeaeae;
    font-size: 36px;
    line-height: 32px;
    letter-spacing: -0.02em;
    background: transparent;
    padding: 5px 8px;
    text-align: left;
}

.pdp-feature__title:hover {
    border-color: #000;
}


.pdp-features__list:not(:only-child) .pdp-feature--active .pdp-feature__title {
    border-color: #000;
    background: #fff;
}

.pdp-feature__media {
    display: none;
    height: 100%;
    position: relative;
    z-index: 2;
    color: transparent;
    border-radius: 9px;
    overflow: hidden;
    background: #f7f7f7;
}

.pdp-feature__media::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -23px 0 0 -23px;
    width: 46px;
    height: 46px;
    border: 3px dashed var(--gray);
    border-radius: 50%;
    z-index: 1;
    animation: rotate 1.6s infinite linear;
}

.pdp-feature__media .ratio-container {
    position: static;
}

.pdp-feature__media--active {
    display: block;
}

@media (max-width: 1180px) {
    .pdp-feature__title {
        font-size: 24px;
        line-height: 26px;
    }

    .pdp-features__title {
        font-size: 36px;
    }
}

@media (max-width: 900px) {
    .pdp-features {
        flex-direction: column;
        display: flex;
    }

    .pdp-features__title {
        font-size: 32px;
        margin-bottom: 15px;
    }

    .pdp-feature__title {
        font-size: 20px;
    }

    .pdp-features__list {
        display: contents;
    }

    .pdp-features__info {
        padding: 14px;
        display: contents;
    }

    .pdp-features__media {
        display: contents;
    }

    .pdp-features {
        background: #e4dfd5;
        padding: var(--gap);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
    }

    .shopify-section--product-features {
        margin: var(--section-gap) 0;
    }

    .pdp-feature__media:nth-child(1) {
        order: 1
    }

    .pdp-feature__media:nth-child(2) {
        order: 2
    }

    .pdp-feature__media:nth-child(3) {
        order: 3
    }

    .pdp-feature__media:nth-child(4) {
        order: 4
    }

    .pdp-feature__media:nth-child(5) {
        order: 5
    }
}