.shopify-section--header-banner {
    padding: var(--gap) var(--gap) 0;
}

.header-banner {
    border-bottom: 1px dashed #707070;
    padding-bottom: var(--gap);
}

.header-banner--text-banner {
    display: flex;
    justify-content: space-between;
}

.header-banner__text {
    font-size: 36px;
    letter-spacing: -0.02em;
    line-height: 1.25em;
}

@media (max-width: 900px) {
    .header-banner__text {
        font-size: 24px;
    }

    .header-banner--text-banner {
        display: block;
    }
}

@media (max-width: 600px) {
    .header-banner .button {
        display: block;
        margin-top: var(--gap);
    }
}