.shopify-section--col-filter {
    display: contents;
}

.collection-filters__section {
    position: sticky;
    top: 42px;
    z-index: 20;
    background: #fff;
}

.collection-filters {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 0 var(--gap);
    border-radius: 0 0 9px 9px;
    padding-top: 11px;
    z-index: 20;
}

.collections-menu {
    display: flex;
    gap: var(--gap);
    justify-content: center;
}

.collections-category {
    color: var(--gray);
    border-color: #aeaeae;
}

.collections-category i {
    font-style: normal;
    margin-left: 5px;
}

.collections-category i:not(:empty)::before {
    content: '(';
}

.collections-category i:not(:empty)::after {
    content: ')';
}

.collections-category i:empty {
    position: relative;
    width: 16px;
    height: 16px;
}

.collections-category i:empty::after {
    content: '';
    width: 14px;
    height: 14px;
    border: 1px dashed var(--gray);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -7px;
    animation: rotate 1.6s infinite linear;
    z-index: 2;
    pointer-events: none;
}

.collections-category i {
    display: none;
}

.collections-menu .button:hover,
.collections-menu .collections-category--active {
    color: #000;
    border-color: #000;
}

.collections-category--active i {
    display: inline-block;
}

.collection-filters:not(.collection-filters--active) {
    display: none;
}

.active-filters-nav {
    height: 43px;
    gap: 20px;
    align-items: center;
    border-bottom: 1px dashed #AEAEAE;
    display: none;
    padding: 0 var(--gap);
}

.collection-filters__control {
    display: grid;
    grid-template-columns: auto 1fr auto;
    padding: var(--gap) 0;
    border-bottom: 1px dashed #AEAEAE;
    column-gap: 10px;
    margin: 0 var(--gap);
}

.collection-filter__activators {
    display: flex;
    gap: 20px;
}

.filter__activator {
    height: 42px;
    position: relative;
}

.collection-filter__activators .filter__activator {
    padding-right: 11px;
}

.collection-filter__activators .filter__activator::after {
    border-style: solid;
    border-width: 6px 3px;
    border-color: #000 transparent transparent;
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-1px);
}

.filter__activator i {
    font-style: normal;
    pointer-events: none;
}

.filter__activator i:not(:empty)::before {
    content: '(';
}

.filter__activator i:not(:empty)::after {
    content: ')';
}

.collection-view {
    display: flex;
    align-items: center;
    margin-right: -9px;
}
/* 
@media (min-width: 1181px) {
    .collection-view * {
        visibility: hidden;
    }
} */

.col-view__text {
    margin-right: 5px;
}

.col-view__button {
    background: transparent;
    padding: 0;
    display: inline-block;
    border: 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: var(--gray);
    transition: color 0.3s;
}

.col-view__button:hover {
    color: #000;
}

.shopify-section--col-filter:not(.col-filter--larger-active) .col-view__button--more,
.col-filter--larger-active .col-view__button--less {
    text-decoration: underline;
    color: #000;
}

.col-filter--larger-active ~ .shopify-section--product-grid .product-grid {
    --desktop-columns: 3;
    --tablet-columns: 2;
    --mobile-columns: 1;
}

.current-filters {
    grid-column: span 3;
    display: flex;
    gap: 10px;
}

.current-filters-list {
    display: flex;
    gap: 10px;
}

.current-filters-list:empty {
    display: none;
}

.current-filters-list:empty + .current-filters-clear {
    display: none;
}

.current-filter {
    height: 22px;
    padding: 6px;
    display: flex;
    align-items: center;
    border: 1px solid #aeaeae;
    border-radius: 6px;
    gap: 5px;
}

.current-filter > * {
    pointer-events: none;
}

.current-filter:hover {
    border-color: var(--gray);
}

.current-filter__remove {
    width: 14px;
    height: 14px;
    position: relative;
}

.current-filter__remove::before,
.current-filter__remove::after {
    width: 10px;
    height: 0;
    border-top: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    transform: translate(-50%, -50%) rotate(45deg);
}

.current-filter__remove::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.current-filter .color-group {
    width: 12px;
    height: 12px;
    flex: 0 0 12px;
}

.collection-filters__inner {
    display: grid;
    grid-template-columns: 400px 1fr;
}

.filter__buttons {
    display: flex;
    gap: 25px;
    border-top: 1px dashed #AEAEAE;
    padding: var(--gap) 0;
    border-bottom: 1px dashed #aeaeae;
}

.filter__buttons .button {
    min-width: 200px;
}

.collection-filter__title {
    margin-bottom: var(--gap);
}

.collection-filter__title i {
    font-style: normal;
}

.collection-filter__title i:not(:empty)::before {
    content: '(';
}

.collection-filter__title i:not(:empty)::after {
    content: ')';
}

[data-sort="best"] .product-unit {
    order: var(--ord-best);
}

[data-sort="new"] .product-unit {
    order: var(--ord-date);
}

[data-sort="price-desc"] .product-unit {
    order: var(--ord-prd);
}

[data-sort="price-asc"] .product-unit {
    order: var(--ord-pra);
}

.section-filtered[data-sort="featured"] .product-unit--na {
    order: 999;
}

.filter__collection {
    display: none;
}

@media (max-width: 900px) {
    .active-filters-nav {
        display: flex;
    }

    .collection-filters__inner {
        display: flex;
    }

    .collection-filter__color {
        flex: 0 0 100%;
    }

    .collection-filter__title {
        display: none;
    }

    .current-filters,
    .collections-menu {
        grid-column: span 2;
    }

    .collections-menu {
        order: 5;
        justify-content: flex-start;
        overflow-x: auto;
        scrollbar-width: none;
        padding: var(--gap);
        margin: 0 calc(-1 * var(--gap));
        position: relative;
    }

    /* .collections-menu::after {
        position: absolute;
        bottom: 0;
        left: var(--gap);
        right: var(--gap);
        content: '';
        border-top: 1px dashed #aeaeae;
    } */

    .collections-menu::-webkit-scrollbar {
        display: none;
    }

    .collection-filters__control {
        grid-template-columns: 1fr auto;
        padding: var(--gap) 0 0;
        column-gap: 0;
    }

    .current-filters-list {
        margin-bottom: var(--gap);
    }

    .collection-filter__activators {
        padding-left: var(--gap);
        gap: 15px;
        border-top: 1px dashed #aeaeae;
        border-bottom: 1px dashed #aeaeae;
    }

    .current-filters {
        /* padding: 0; */
        /* display: none; */
        align-items: flex-start;
        order: 5;
    }

    .collection-view {
        margin: 0;
        border-top: 1px dashed #aeaeae;
        border-bottom: 1px dashed #aeaeae;
    }

    .filter__buttons {
        padding: var(--gap);
        border-bottom: 0;
    }

    .filter__buttons .button--secondary {
        display: none;
    }

    .filter__buttons .button {
        width: 100%;
    }

    .collection-filters {
        position: fixed;
        bottom: 0;
        top: auto;
        padding: 0;
        z-index: 20;
    }
    
    .collection-filters__inner {
        transition: transform 0.3s;
    }

    .collection-filters[data-tab="color"] .collection-filters__inner {
        transform: translateX(-100%);
    }

    .collection-filters[data-tab="sort"] .filter__activator--sort::after,
    .collection-filters[data-tab="color"] .filter__activator--color::after {
        content: '';
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        border-top: 1px solid #000;
    }

    .collections-menu:empty {
        display: none;
    }
}