body.modal-open {
    position: sticky;
    overflow: hidden;
}

.header-container {
    position: sticky;
    width: 100%;
    z-index: 100;
    top: 0;
}

.shopify-section--header[data-status="hidden"] .site-header {
    transform: translateY(-100%);
    opacity: 0;
}

.site-header {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 42px;
    background-color: #fff;
    transition: transform 0.3s, opacity 0.3s;
}

.site-header__logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 3;
}

.site-header__logo img {
    width: 115px;
    height: auto;
    display: block;
}

.site-header__nav {
    background: var(--yellow);
    padding: 0 var(--gap) 0 calc(2 * var(--gap));
    border-radius: 0 0 0 9px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

.site-header__nav > ul {
    position: static;
    z-index: 2;
    gap: var(--gap);
    display: flex;
    list-style-type: none;
    align-items: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

.site-header__dropdown {
    position: relative;
}

.site-header__subnav {
    display: none;
}

.site-header__nav:first-child {
    border-radius: 0 0 9px 0;
    padding: 0 var(--gap);
    z-index: 3;
}

.site-header__nav .site-header__menu-item a {
    text-decoration: none;
    color: inherit;
}

.header__search-link {
    display: flex;
    gap: 4px;
    position: relative;
    height: 22px;
    align-items: center;
    overflow: hidden;
    padding-right: var(--gap);
}

.header__search-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid #000;
}

.search-placeholders {
    --page: 0;
    font-style: italic;
    pointer-events: none;
    overflow: hidden;
    height: 42px;
    padding-right: 1px;
}

.search-placeholders--no-anim .search-placeholders__inner {
    transition: none;
}

.search-placeholders__inner {
    transition: transform 0.3s;
    transform: translateY(calc(-42px * var(--page)));
}

.search-placeholder {
    display: flex;
    align-items: center;
    height: 42px;
    white-space: nowrap;
}

.header__live-link {
    border: 1px solid #000;
    height: 22px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    padding: 0 5px 0 4px;
    gap: 4px;
}

.header__live-link::before {
    content: '';
    width: 6px;
    height: 6px;
    background: #000;
    display: block;
    border-radius: 50%;
}

.header__live-link--active::before {
    background: #ff6b0e;
}

.header__notifications-link svg {
    display: block;
    width: 19px;
    height: auto;
}

.notifications-icon {
    position: relative;
    display: block;
}

.notifications-header .notifications-icon {
    height: 18px;
}

.notifications-unread .notifications-icon::after {
    content: '';
    width: 5px;
    height: 5px;
    position: absolute;
    top: -3px;
    right: -3px;
    border-radius: 50%;
    background: #000;
}

.header__wishlist-link svg {
    display: block;
    width: 18px;
    height: auto;
}

.header__wishlist-link--full .icon-heart {
    fill: #000;
}

.header__bag-link {
    margin-top: -3px;
    gap: 4px;
    display: flex;
    align-items: center;
}

.header__bag-link svg {
    display: block;
    width: 17px;
    height: auto;
}

.header__bag-icon {
    position: relative;
}

.icon-bag-background {
    fill: transparent;
}

.header__bag-icon--full .icon-bag-background {
    fill: #fff;
}

.header__bag-count {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 10px;
    line-height: 1em;
    margin-top: 1px;
    font-weight: var(--font-body-weight-bold);
}


.menu-popup {
    display: none;
}

.articles__list-title {
    margin-bottom: 10px;
}

.notifications-popup {
    display: none;
}

.menu-popup__background {
    display: none;
}

.site-header__overlay {
    display: none;
}

.burger-link {
    text-indent: -100px;
    overflow: hidden;
    display: block;
    width: 20px;
    height: 18px;
    border-style: solid;
    border-width: 1px 0;
    border-color: #000;
    position: relative;   
}

.burger-link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-top: 1px solid #000;
    transform: translateY(-50%);
}

.header__nav--excerpt {
    display: none;
}

.menu-close {
    position: absolute;
    cursor: pointer;
    top: 7px;
    right: var(--gap);
    width: 30px;
    height: 30px;
    border: 0;
    z-index: 5;
    padding: 0;
    margin-right: -7px;
    background: transparent;
    text-indent: -200px;
    overflow: hidden;
}

.menu-close::before,
.menu-close::after {
    content: '';
    width: 20px;
    border-top: 1px solid #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.menu-close::after {
    transform: translate(-50%, -50%) rotate(135deg);
}

.menu-popup__activator {
    height: 42px;
    display: block;
    line-height: 42px;
    position: relative;
}

.wishlist__popup {
    display: none;
}

@media (max-width: 1080px) {
    .site-header__nav > ul {
        font-size: 16px;
    }
}

@media (max-width: 900px) {
    .site-header__nav .header__nav--full {
        display: none;
    }

    .menu-close::before,
    .menu-close::after {
        width: 16px;
    }

    .header__nav--excerpt {
        display: flex;
    }

    .site-header__nav:first-child,
    .site-header__nav {
        padding: 0 var(--gap);
    }

    .site-header__nav {
        position: static;
    }

    .site-header__nav:first-child {
        z-index: 5;
    }

    .header__nav--excerpt .header__search-link {
        padding: 0;
    }

    .header__nav--excerpt .header__search-link img {
        width: 100%;
    }

    .header__nav--excerpt .header__search-link::after {
        display: none;
    }
}